﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEndVakyria</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@

    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body>
    <header class="main-header header-style-one">

        <!--Header-Upper-->
        <div class="header-upper">
            <div class="outer-container">
                <div class="inner-container clearfix">

                    <div class="logo-box">
                        <div class="logo"><a href="#"><img src="~/images/galleryy/__texto circular_amarillo.png" alt="" title=""></a></div>
                        <br />

                    </div>

                    <!-- Logo -->
                    <div class="mobile-logo pull-left">
                        <a href="Home" title=""><img src="~/images/galleryy/__logo horizontal_blanco_3.png" alt="" title=""></a>
                    </div>

                    <!-- Header Social Box -->
                    <div class="header-social-box clearfix">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>

                    <div class="outer-box clearfix">
                        <div class="cart-box">
                            <div class="dropdown">
                                @*<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="cart-icon"><img src="~/images/icons/bag.svg"  /></span><span class="total-cart">2</span></button>*@
                                <a href="~/Shop/Cart">
                                    <img src="~/images/icons/bag.svg" />
                                </a>
                                <div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu3">
                                </div>
                            </div>
                        </div>
                        <!-- Hidden Nav Toggler -->
                        <div class="nav-toggler">
                            <div class="nav-btn"><button class="hidden-bar-opener">Menu</button></div>
                        </div>
                        <!-- / Hidden Nav Toggler -->

                    </div>

                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon"><img src="~/images/icons/burger.svg" alt="" /></span></div>
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li>@Html.ActionLink("Inicio", "Home", "Home")</li>
                                    <li> @Html.ActionLink("Nosotros", "About", "Home")</li>
                                    <li class="dropdown">
                                        <a href="../Trainer/Trainer1">Fundadoras</a>
                                        <ul>
                                            <li>@Html.ActionLink("Natalia Morales", "Trainer1", "Trainer")</li>
                                            <li>@Html.ActionLink("Amanda Brenes", "Trainer2", "Trainer")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Tienda", "Shop", "Shop")</li>
                                    <li>@Html.ActionLink("Contáctanos", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("Iniciar Sesión", "Login", "Login")</li>
                                </ul>
                            </div>
                        </nav>

                    </div>

                </div>

            </div>
        </div>
        <!--End Header Upper-->
        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="Home" title=""><img src="~/images/galleryy/__logo horizontal_blanco_3.png" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav><!-- Main Menu End-->

                </div>
            </div>
        </div><!-- End Sticky Menu -->
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="Home"><img src="https://via.placeholder.com/230x46" alt="" title=""></a></div>
                <div class="menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
            </nav>

        </div>
        <!-- End Mobile Menu -->

    </header>
    <!-- FullScreen Menu -->
    <div class="fullscreen-menu">
        <!--Close Btn-->
        <div class="close-menu"><span>Close</span></div>

        <div class="menu-outer-container">
            <div class="menu-box">
                <nav class="full-menu">
                    <ul class="navigation">
                        <li>@Html.ActionLink("Inicio", "Home", "Home")</li>
                        <li> @Html.ActionLink("Nosotros", "About", "Home") </li>
                        <li class="dropdown">
                            <a href="#">Fundadoras</a>
                            <ul>
                                <li>@Html.ActionLink("Natalia Morales", "Trainer1", "Trainer")</li>
                                <li>@Html.ActionLink("Amanda Brenes", "Trainer2", "Trainer")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Tienda", "Shop", "Shop")</li>
                        <li><a href="#">Contáctenos</a></li>
                        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Login")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- End FullScreen Menu -->
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FrontEndVakyria</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*FOOTER COMENTADO
        <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FrontEndVakyria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
