﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="../Admin/AdminInicio"<i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        @*<input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Eliminar</strong> Productos<small>Los cambios son permanentes</small> </h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                    <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered" id="editableTable">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Fecha de Ingreso</th>
                                            <th>Precio</th>
                                            <th>Descripcion</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-id="1">
                                            <td data-field="Nombre">Fuerza Valkyria</td>
                                            <td data-field="Fecha de Ingreso">Mayo 19, 2020</td>
                                            <td data-field="Precio">$80</td>
                                            <td data-field="Descripcion">Programacion de Fuerza Valkyria en linea</td>
                                            <td>

                                                <a class="button button-small edit" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr data-id="2">
                                            <td data-field="Nombre">Taller Valkyria</td>
                                            <td data-field="Fecha de Ingreso">Setiembre 08, 2020</td>
                                            <td data-field="Precio">$90</td>
                                            <td data-field="Descripcion">Taller de Fuerza para pull ups</td>
                                            <td>
                                                <a class="button button-small edit" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr data-id="3">
                                            <td data-field="Nombre">Seminario de Fuerza</td>
                                            <td data-field="Fecha de Ingreso">Noviembre 24, 2020</td>
                                            <td data-field="Precio">$110</td>
                                            <td data-field="Descripcion">Seminario para mejora de tecnica especializado en mujeres Valkyria</td>
                                            <td>
                                                <a class="button button-small" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/js/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="~/js/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

<script src="~/js/knob.bundle.js"></script> <!-- Jquery Knob-->
<script src="~/js/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
<script src="~/js/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
<script src="~/js/sparkline.bundle.js"></script> <!-- sparkline Plugin Js -->
<script src="~/js/doughnut.bundle.js"></script>

<script src="~/js/index.js"></script>


<script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

<script src="~/assets/plugins/dropzone/dropzone.js"></script> <!-- Dropzone Plugin Js -->

<script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->