﻿@model FrontEndVakyria.Modelos_BD.Producto

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



    <!-- Main Content -->
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Dashboard</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="../Admin/AdminInicio"<i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="input-group m-b-0">
                            @*<input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>*@
                        </div>
                    </div>
                </div>
            </div>

            <!-- Basic Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Ingresar</strong> Producto</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                        <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="body">

                            @using (Html.BeginForm("InsertarProducto", "AdminProducto", FormMethod.Post, new { @id = "frmInsertarProducto" }))
                            {


                                <label class="label">Tipo de producto:</label>
                                <div class="row clearfix">

                                    <div class="col-sm-6">

                                        @Html.DropDownListFor(Model => Model.TipoProducto, ViewBag.TipoProducto as IEnumerable<SelectListItem>, new { @class = "form-control show-tick" })

                                    </div>
                                </div>
                                <br />
                                <label class="label">Nombre:</label>
                                <div class="form-group form-float">
                                    @Html.TextBoxFor(Model => Model.NombreProducto, new { @class = "form-control", @placeholder = "Ingrese nombre del producto" })
                                </div>
                                <label class="label">Precio:</label>
                                <div class="form-group form-float">
                                    @Html.TextBoxFor(Model => Model.Precio, new { @class = "form-control", @placeholder = "Ingrese el precio deseado" })
                                </div>
                                <label class="label">Cantidad en inventario:</label>
                                <div class="form-group form-float">
                                    @Html.TextBoxFor(Model => Model.CantInventario, new { @class = "form-control", @placeholder = "Ingrese la cantidad disponible" })
                                </div>

                                <label class="label">Descripcion:</label>
                                <div class="form-group form-float">
                                    @Html.TextAreaFor(Model => Model.Descripcion, new { @cols = "30", @rows = "5", @class = "form-control no-resize", @placeholder = "Descripción" })
                                </div>


                                <label class="label">Imagen:</label>
                                <div class="row clearfix">

                                    <div class="col-sm-6">

                                        @Html.DropDownListFor(Model => Model.IdImagen, ViewBag.Imagenes as IEnumerable<SelectListItem>, new { @class = "form-control show-tick" })

                                    </div>
                                </div>

                                <button class="btn btn-primary btn-round" name="InsertarProducto" value="Insertar" type="submit">INGRESAR</button>





                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Validation -->


        </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="~/js/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    <script src="~/js/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

    <script src="~/js/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/js/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/js/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
    <script src="~/js/sparkline.bundle.js"></script> <!-- sparkline Plugin Js -->
    <script src="~/js/doughnut.bundle.js"></script>

    <script src="~/js/index.js"></script>

    <script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

    <script src="~/assets/plugins/dropzone/dropzone.js"></script> <!-- Dropzone Plugin Js -->

    <script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
