﻿@model IEnumerable<FrontEndVakyria.Modelos_BD.Producto>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Microsoft.AspNetCore.Http;
<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">

            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Productos</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="../Admin/AdminInicio"<i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Productos</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        @*<input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-money zmdi-hc-3x col-blush" style="color:cornflowerblue;"></i></p>
                        <span>Ventas última semana</span>
                        <h3 class="m-b-10">₡<span>@Context.Session.GetString("totalVentasSemana")</span></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-balance zmdi-hc-3x col-green"></i></p>
                        <span>Ventas totales</span>
                        <h3 class="m-b-10">₡<span>@Context.Session.GetString("totalVentas")</span></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-assignment zmdi-hc-3x col-blue"></i></p>
                        <span>Productos en la tienda</span>
                        <h3 class="m-b-10">@Context.Session.GetString("cantProductos")</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-shopping-basket zmdi-hc-3x"></i></p>
                        <span>Órdenes totales</span>
                        <h3 class="m-b-10">@Context.Session.GetString("totalOrdenes")</h3>
                    </div>
                </div>
            </div>
        </div>


        <input type="hidden" id="totalRopaDeportiva" data-value="@Context.Session.GetString("totalRopaDeportiva")" />
        <input type="hidden" id="totalVentasSuplementos" data-value="@Context.Session.GetString("totalVentasSuplementos")" />
        <input type="hidden" id="totalVentasAccesorios" data-value="@Context.Session.GetString("totalVentasAccesorios")" />

        <div class="row clearfix">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Productos vendidos por categoría</h2>
                    </div>
                    <div class="body">
                        <div class="e_chart" id="echart-doughnut-prods" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DataTable Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Listado</strong> de Productos</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu slideUp">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">

                            <br />
                            <div class="form-group form-float">
                                <label class="label">Seleccione una categoría</label>
                                <div class="row clearfix">

                                    <div class="col-sm-6">
                                        @Html.DropDownList("filterDp", ViewBag.TipoProducto as IEnumerable<SelectListItem>, new { @id = "filterDp", @class = "form-control show-tick" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="editableTableProductos">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad Disponible</th>
                                        <th>Descripcion</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad Disponible</th>
                                        <th>Descripcion</th>
                                        <th>Editar</th>
                                    </tr>
                                </tfoot>
                                <tbody id="fbody">
                                    @foreach (var item in Model)
                                    {
                                        <tr data-id="@item.IdProducto">
                                            <td data-field="type">@item.TipoProducto</td>
                                            <td data-field="name">@item.NombreProducto</td>
                                            <td data-field="price">@item.Precio</td>
                                            <td data-field="cant">@item.CantInventario</td>
                                            <td data-field="desc">@item.Descripcion</td>
                                            <td>
                                                <a id="IdProd" value="@item.IdProducto" class="button button-small edit" title="Eliminar">
                                                    <span id="IdProd" value="@item.IdProducto"><i class="zmdi zmdi-delete"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# DataTable Examples -->

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/js/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="~/js/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->
<!-- Jquery DataTable Plugin Js -->
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>

<script src="~/js/knob.bundle.js"></script> <!-- Jquery Knob-->
<script src="~/js/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
<script src="~/js/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
<script src="~/js/sparkline.bundle.js"></script> <!-- sparkline Plugin Js -->
<script src="~/js/doughnut.bundle.js"></script>

<script src="~/assets/plugins/echart/echarts.min.js"></script>
<script src="~/js/mainscripts.bundle.js"></script>
<script src="~/assets/js/pages/charts/echart.js"></script>
<script src="~/js/index.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>