﻿@model FrontEndVakyria.Modelos_BD.Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8">
<title>BlackFit HTML-5 Template | Checkout</title>
<!-- Stylesheets -->
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/responsive.css" rel="stylesheet">
<link href="~/css/login/style.css" rel="stylesheet">

<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->


<div class="page-wrapper">

    <!-- Preloder -->
    <div id="preloder" class="preloader">
        <div class="loader"></div>
    </div>
    <!-- Εnd Preloader -->
    <!-- Main Header-->
    <!-- End Main Header -->
    <!-- FullScreen Menu -->
    <!-- End FullScreen Menu -->
    <!--Page Title-->
    <section id="loginTitle" class="section-img page-title-login">
        <img src="~/images/galleryy/22.jpg" class="image-layer" />
        <div class="auto-container">
            <h2>Registro</h2>
        </div>
    </section>
    <!--End Page Title-->
    <!-- Checkout Page -->
    <div class="">
        <div class="">

            <!--Billing Details-->
            <div class="billing-details">
                <div class="login-block">
                    @using (Html.BeginForm("RegisterUser", "Login", FormMethod.Post, new { @id = "frmRegisterUser" }))
                    {
                        <div class="">
                            <div class="">
                                <div class="sec-title">
                                    <div class="">

                                        <div class="field-label-register">Nombre <sup>*</sup></div>
                                        @Html.TextBoxFor(Model => Model.NombreUsuario, new { @class = "form-control" })

                                        <div class="field-label-register">Primer Apellido <sup>*</sup></div>
                                        @Html.TextBoxFor(Model => Model.PrimerApellidoUsuario, new { @class = "form-control" })

                                        <div class="field-label-register">Segundo Apellido <sup>*</sup></div>
                                        @Html.TextBoxFor(Model => Model.SegundoApellidoUsuario, new { @class = "form-control" })

                                        <div class="field-label-register">Cédula<sup>*</sup></div>
                                        @Html.TextBoxFor(Model => Model.CedulaUsuario, new { @class = "form-control" })

                                        <div class="field-label-register">Correo Electrónico<sup>*</sup></div>
                                        @Html.TextBoxFor(Model => Model.CorreoElectronico, new { @class = "form-control" })

                                        <div class="field-label-register">Teléfono<sup>*</sup></div>
                                        @Html.TextBoxFor(Model => Model.TelefonoUsuario, new { @class = "form-control" })

                                        <br />

                                        <div class="field-label-register">Contraseña<sup>*</sup></div>
                                        @Html.TextBoxFor(Model => Model.ContrasenaUsuario, new { @class = "form-control", @Type="password" })
                                        <br />

                                        <input type="password" value="" placeholder="Contraseña" id="password" />

                                    </div>



                                    <p class="text"><a href="Login">Iniciar sesión</a></p>
                                    <br />
                                    <button type="submit" class=""><span class="text" id="registrarse">REGISTRARSE</span></button>

                                </div>
                            </div>

                        </div>
                    }
                </div>
                <br />
                <br />
            </div><!--End Billing Details-->
        </div>
    </div>
   
    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <!-- Widgets Section -->
            <!-- Footer Bottom -->
            <div class="footer-bottom footer-widget">
                <ul class="timing-info-tabs">

                    <li>
                        <span>Teléfonos:</span><br />
                        <a href="tel:86497264">+(506)8649-7264</a><br />
                        <a href="tel:88994135">+(506)8899-4135</a>
                    </li>
                    <li><span>Horas Abiertos:</span> Lunes-Sabado: 07:00 - 20:00</li>
                    <li><span>Correo electrónico:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                    <li class="social-links">
                        <span>Nuestras redes:</span>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </li>
                </ul>
                <div class="copyright">Valkyria. 2020</div>
            </div>

        </div>
    </footer>

</div>
<!--End pagewrapper-->
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="~/js/jquery.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/jquery.fancybox.js"></script>
<script src="~/js/appear.js"></script>
<script src="~/js/owl.js"></script>
<script src="~/js/wow.js"></script>
<script src="~/js/jquery.bootstrap-touchspin.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/script.js"></script>
<script src="~/FunctionsJS/ValidateEmail.js"> </script>
