﻿@model Boolean
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Valkyria | Retrieve Password</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/login/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</head>

<body>

    <div class="page-wrapper">

        <!-- Preloder -->
        <div id="preloder" class="preloader">
            <div class="loader"></div>
        </div>
        <!-- Εnd Preloader -->
        <!-- Main Header-->
        <!-- End Main Header -->
        <!-- FullScreen Menu -->
        <!-- End FullScreen Menu -->
        <!--Page Title-->
        <section id="loginTitle" class="section-img page-title-login">
            <img src="~/images/galleryy/27.jpg" class="img-background" />
            <!--<div class="auto-container">-->
            @*<h2>Ingreso</h2>*@
            <!--</div>-->
        </section>
        <!--End Page Title-->
        <!-- Checkout Page -->
        <div class="">
            <div class="auto-container">
                <div class="sec-title">
                    <div class="login-block">
                        @using (Html.BeginForm("GetNewCredentials", "Login", FormMethod.Post, new { @id = "frmRetrievePassword" }))
                        {

                           

                        <div class="">

                            @if (Model == true)
                            {
                                <p style="color:red;">Cédula no encontrada en el sistema.</p>
                            }

                            <div class="">
                                <h2>Reestablacer contraseña</h2>

                                <div class="text-decoration-none">
                                    Por favor ingrese su cédula de identificación registrada en el sistema para enviarle una contraseña temporal al correo electrónico registrado.
                                </div>
                                <br />

                                <div class="">
                                    <div class="">
                                        <!--Form Group-->
                                        <div>
                                            <div class="field-label-register">Cédula de identidad<sup>*</sup></div>
                                            <input type="number" name="cedula" value="" placeholder="Ingrese únicamente números..." required>
                                        </div>
                                    </div>

                                    @Html.ActionLink("Iniciar sesión", "Login", "Login")
                                    <br />
                                    @Html.ActionLink("Registrarse", "Register", "Login")
                                    <br />
                                    <button type="submit"><span class="text">Enviar correo</span></button>

                                </div>
                            </div>

                        </div>
                        }
                    </div>

                </div><!--End Billing Details-->
            </div>
        </div>


        <!-- Main Footer -->
        <footer class="main-footer">
            <div class="auto-container">
                <!-- Widgets Section -->
                <!-- Footer Bottom -->
                <div class="footer-bottom footer-widget">
                    <ul class="timing-info-tabs">

                        <li>
                            <span>Teléfonos:</span><br />
                            <a href="tel:86497264">+(506)8649-7264</a><br />
                            <a href="tel:88994135">+(506)8899-4135</a>
                        </li>
                        <li><span>Horas Abiertos:</span> Lunes-Sabado: 07:00 - 20:00</li>
                        <li><span>Correo electrónico:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                        <li class="social-links">
                            <span>Nuestras redes:</span>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                        </li>
                    </ul>
                    <div class="copyright">Valkyria. 2020</div>
                </div>

            </div>
        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>