﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BlackFit HTML-5 Template | Trainer 01</title>
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloder -->
        <div id="preloder" class="preloader">
            <div class="loader"></div>
        </div>
        <!-- Εnd Preloader -->
        <!-- Main Header-->
        <!--<header class="main-header header-style-one">-->

            <!--Header-Upper-->
            <!--<div class="header-upper">
                <div class="outer-container">
                    <div class="inner-container clearfix">-->

                        <!-- Logo Box -->
                        <!--<div class="logo-box">
                            <div class="logo"><a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a></div>
                        </div>-->

                        <!-- Logo -->
                        <!--<div class="mobile-logo pull-left">
                            <a href="index.html" title=""><img src="https://via.placeholder.com/230x46" alt="" title=""></a>
                        </div>-->

                        <!-- Header Social Box -->
                        <!--<div class="header-social-box clearfix">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>

                        <div class="outer-box clearfix">-->

                            <!-- Hidden Nav Toggler -->
                            <!--<div class="nav-toggler">
                                <div class="nav-btn"><button class="hidden-bar-opener">Menu</button></div>
                            </div>-->
                            <!-- / Hidden Nav Toggler -->

                        <!--</div>

                        <div class="nav-outer clearfix">-->
                            <!-- Mobile Navigation Toggler -->
                            <!--<div class="mobile-nav-toggler"><span class="icon"><img src="images/icons/burger.svg" alt="" /></span></div>-->
                            <!-- Main Menu -->
                            <!--<nav class="main-menu navbar-expand-md">
                                <div class="navbar-header">-->
                                    <!-- Toggle Button -->
                                    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a href="index.html">Home</a></li>
                                        <li class="dropdown">
                                            <a href="#">About Us</a>
                                            <ul>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="timetable.html">Time Table</a></li>
                                                <li><a href="commingsoon.html">Comming Soon</a></li>
                                                <li><a href="body-builder.html">Section Page 01</a></li>
                                                <li><a href="body-builder-2.html">Section Page 02</a></li>
                                            </ul>
                                        </li>
                                        <li class="current dropdown">
                                            <a href="#">Trainers</a>
                                            <ul>
                                                <li><a href="trainer.html">Trainer 01</a></li>
                                                <li><a href="trainer-2.html">Trainer 02</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Shop</a>
                                            <ul>
                                                <li><a href="shop-left.html">Shop Left Sidebar</a></li>
                                                <li><a href="shop-right.html">Shop Right Sidebar</a></li>
                                                <li><a href="shop-single.html">Product Single</a></li>
                                                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog.html">Our Blog</a></li>
                                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                                <li><a href="blog-detail.html">Blog Detail One</a></li>
                                                <li><a href="blog-detail-two.html">Blog Detail Two</a></li>
                                                <li><a href="not-found.html">Not Found</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact us</a></li>
                                    </ul>
                                </div>
                            </nav>

                        </div>

                    </div>

                </div>
            </div>-->
            <!--End Header Upper-->
            <!-- Sticky Header  -->
            <!--<div class="sticky-header">
                <div class="auto-container clearfix">-->
                    <!--Logo-->
                    <!--<div class="logo pull-left">
                        <a href="index.html" title=""><img src="https://via.placeholder.com/230x46" alt="" title=""></a>
                    </div>-->
                    <!--Right Col-->
                    <!--<div class="pull-right">-->
                        <!-- Main Menu -->
                        <!--<nav class="main-menu">-->
                            <!--Keep This Empty / Menu will come through Javascript-->
                        <!--</nav>--><!-- Main Menu End-->

                    <!--</div>
                </div>
            </div>--><!-- End Sticky Menu -->
            <!-- Mobile Menu  -->
            <!--<div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

                <nav class="menu-box">
                    <div class="nav-logo"><a href="index.html"><img src="https://via.placeholder.com/230x46" alt="" title=""></a></div>
                    <div class="menu-outer">--><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--><!--</div>
                </nav>
            </div>--><!-- End Mobile Menu -->

        <!--</header>-->
        <!-- End Main Header -->
        <!-- FullScreen Menu -->
        <div class="fullscreen-menu">
            <!-- Close Btn -->
            <div class="close-menu"><span>Close</span></div>

            <div class="menu-outer-container">
                <div class="menu-box">
                    <nav class="full-menu">
                        <ul class="navigation">
                            <li><a href="index.html">Home</a></li>
                            <li class="dropdown">
                                <a href="#">About Us</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="timetable.html">Time Table</a></li>
                                    <li><a href="commingsoon.html">Comming Soon</a></li>
                                    <li><a href="body-builder.html">Section Page 01</a></li>
                                    <li><a href="body-builder-2.html">Section Page 02</a></li>
                                </ul>
                            </li>
                            <li class="current dropdown">
                                <a href="#">Trainers</a>
                                <ul>
                                    <li><a href="trainer.html">Trainer 01</a></li>
                                    <li><a href="trainer-2.html">Trainer 02</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Shop</a>
                                <ul>
                                    <li><a href="shop-left.html">Shop Left Sidebar</a></li>
                                    <li><a href="shop-right.html">Shop Right Sidebar</a></li>
                                    <li><a href="shop-single.html">Product Single</a></li>
                                    <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Our Blog</a></li>
                                    <li><a href="blog-classic.html">Blog Classic</a></li>
                                    <li><a href="blog-detail.html">Blog Detail One</a></li>
                                    <li><a href="blog-detail-two.html">Blog Detail Two</a></li>
                                    <li><a href="not-found.html">Not Found</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End FullScreen Menu -->
        <!--Page Title-->
        <section class="page-title" style="background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/29/78/y2Y1U4.png)">
            <div class="auto-container">
                <h2>Fundadoras</h2>
                <ul class="page-breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li>Amanda Brenes</li>
                </ul>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Sidebar Page Container -->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Sidebar Side -->
                    <div class="sidebar-side trainer-sidebar col-lg-3 col-md-12 col-sm-12">
                        <aside class="sidebar sticky-top">
                            <div class="sidebar-inner">

                                <!-- Trainer Widget -->
                                <div class="sidebar-widget trainer-widget">
                                    <!-- Sidebar Title -->
                                    @*<div class="sidebar-title">
                                            <h5>OTHER TRAINERS</h5>
                                        </div>*@

                                    <!-- Trainer Block -->
                                    <div class="trainer-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <img src="~/images/galleryy/Trainer1.png" alt=""/>
                                                <!-- Overlay Box -->
                                                <div class="overlay-box">
                                                    <a href="body-builder-2.html" class="overlay-link"></a>
                                                    <div class="overlay-inner">
                                                        <div class="content">
                                                            <h4>@Html.ActionLink("Natalia", "Trainer1", "Trainer")</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </aside>
                    </div>

                    <!-- Content Side -->
                    <div class="content-side trainer-content col-lg-9 col-md-12 col-sm-12">
                        <div class="trainer-detail">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <!-- Column -->
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <div class="title-box">
                                            <h3>Amanda <br> Brenes</h3>
                                            <div class="category">Specialty: <span>Fuerza</span></div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                    </div>
                                    <!-- Column -->
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <div class="image">
                                            <img src="~/images/galleryy/Trainer2.png" alt="" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Blockquote -->
                                <div class="blockquote">
                                    Want to be healthy and have a perfect body? BigBear is the right decision for you! It will create your personal training program and balance your diet so you could get the shape of your dream shortly!
                                </div>

                                <!--Video Box-->
                                <div class="video-box" style="background-image:url(https://via.placeholder.com/1170x594)">
                                    <figure class="video-image">
                                        <img src="https://via.placeholder.com/849x498" alt="">
                                    </figure>
                                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
                                </div>

                                <!-- Post Share Options-->
                                <div class="post-share-options clearfix">
                                    <ul class="social-box">
                                        <li class="share">MY SOCIALS:</li>
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
                                    </ul>
                                </div>

                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Main Footer -->
        <footer class="main-footer" style="background-color:black">
            <div class="auto-container">
                <!-- Widgets Section -->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget logo-widget">
                                        <div class="logo">
                                            <a href="#"><img src="~/images/galleryy/__logo horizontal_blanco_peq.png" style="width:240px; height:70px" alt="" /></a>
                                        </div>
                                        <!-- Footer Mobile Logo -->
                                        <div class="footer-mobile-logo">
                                            <a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a>
                                        </div>
                                        <ul class="info-list">
                                            <li><span>Direccion:</span>San Jose, Costa Rica</li>
                                            <li>
                                                <span>Telefonos:</span>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                            </li>
                                            <li><span>Horarios:</span>Lunes-Viernes</li>
                                            <li>7:00 AM - 5:00 PM</li>
                                            <li><span>Correo:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                                            <li class="social-links">
                                                <span>Redes Sociales:</span>
                                                <a href="#" class="fa fa-facebook"></a>
                                                <a href="#" class="fa fa-twitter"></a>
                                                <a href="#" class="fa fa-instagram"></a>
                                                <a href="#" class="fa fa-linkedin"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget news-widget">
                                        <h6>EVENTOS</h6>
                                        <div class="widget-content">

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(3).jpg" alt=""></a></div>
                                                <h5><a href="#">Competencia Crossfit</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(4).jpg" alt=""></a></div>
                                                <h5><a href="#">Taller fuerza</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(5).jpg" alt=""></a></div>
                                                <h5><a href="#">Clase de zumba</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!-- Footer Column -->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget gallery-widget">
                                        <h6>Instagram</h6>
                                        <div class="widget-content">

                                            <div class="images-outer clearfix">
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget newsletter-widget">
                                        <h6>Subscribase</h6>
                                        <!-- Newsletter Form -->
                                        <div class="newsletter-form">
                                            <form method="post" action="contact.html">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Email" required="">
                                                    <button type="submit" class="theme-btn submit-btn"><span><img src="images/icons/message-icon.png" alt="" /></span></button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="copyright">DESIGN BY KADIROV. 2020</div>
                </div>

            </div>
        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>