﻿@model FrontEndVakyria.Modelos_BD.Usuario

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BlackFit HTML-5 Template | Checkout</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</head>

<body>

    <div class="page-wrapper">

        <!-- Preloder -->
        <div id="preloder" class="preloader">
            <div class="loader"></div>
        </div>
        <!-- Εnd Preloader -->
        <!-- Main Header-->
        <!-- End Main Header -->
        <!-- FullScreen Menu -->
        <!-- End FullScreen Menu -->
        <!--Page Title-->
        <section class="page-title" style="background-image:@Url.Content("~/wwwroot/images/galleryy/19.jpg")">
            <div class="auto-container">
                <h2>Mi Cuenta</h2>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Checkout Page -->
        <div class="checkout-page">
            <div class="auto-container">

                <!--Billing Details-->
                <div class="billing-details">
                    <div class="shop-form">
                        @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { @id = "frmRegisterUser" }))
                        {
                            <div class="row clearfix">
                                <div class="col-lg-7 col-md-12 col-sm-12">

                                    <div class="sec-title"><h2>Actualizar cuenta</h2></div>
                                    <div class="billing-inner ">
                                        <div class="row clearfix">

                                            <!--Form Group-->

                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <div class="field-label">Nombre <sup>*</sup></div>
                                                @Html.TextBox("NombreUsuario", @Context.Session.GetString("nombre"))
                                                
                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <div class="field-label">Primer apellido <sup>*</sup></div>
                                                @Html.TextBox("PrimerApellidoUsuario", @Context.Session.GetString("apellido1"))
                                            </div>

                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <div class="field-label">Segundo apellido <sup>*</sup></div>
                                                @Html.TextBox("SegundoApellidoUsuario", @Context.Session.GetString("apellido2"))
                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <div class="field-label">Cédula<sup>*</sup></div>
                                                @Html.TextBox("CedulaUsuario", @Context.Session.GetString("cedula"))
                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <div class="field-label">Correo Electrónico<sup>*</sup></div>
                                                @Html.TextBox("CorreoElectronico", @Context.Session.GetString("correo"))
                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <div class="field-label">Teléfono<sup>*</sup></div>
                                                @Html.TextBox("TelefonoUsuario", @Context.Session.GetString("telefono"))
                                            </div>

                                            <br />


                                        </div>

                                        <div class="row clearfix">
                                            <!--Form Group-->
                                            <br />
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <div class="field-label">Contraseña<sup>*</sup></div>
                                                @Html.TextBoxFor(Model => Model.ContrasenaUsuario, new { @class = "form-control" })
                                                <br />
                                                <div class="field-label">Verifique la contraseña:<sup>*</sup></div>
                                                @Html.TextBoxFor(Model => Model.ContrasenaUsuario, new { @class = "form-control" })
                                            </div>

                                        </div>

                                        <br />
                                        <button type="submit" class="theme-btn btn-style-five"><span class="txt">Actualizar</span></button>

                                    </div>
                                </div>

                            </div>
                        }
                    </div>

                </div><!--End Billing Details-->
            </div>
        </div>

        <!-- Main Footer -->
        <footer class="main-footer">
            <div class="auto-container">
                <!-- Widgets Section -->
                <!-- Footer Bottom -->
                <div class="footer-bottom footer-widget">
                    <ul class="timing-info-tabs">

                        <li>
                            <span>Teléfonos:</span><br />
                            <a href="tel:86497264">+(506)8649-7264</a><br />
                            <a href="tel:88994135">+(506)8899-4135</a>
                        </li>
                        <li><span>Horas Abiertos:</span> Lunes-Sabado: 07:00 - 20:00</li>
                        <li><span>Correo electrónico:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                        <li class="social-links">
                            <span>Nuestras redes:</span>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                        </li>
                    </ul>
                    <div class="copyright">Valkyria. 2020</div>
                </div>

            </div>
        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>