﻿@model FrontEndVakyria.Modelos_BD.Actividade

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Actividades</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="../Admin/AdminInicio"<i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Actividades</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        @*<input type="text" class="form-control" placeholder="Buscar...">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>*@
                    </div>
                </div>
            </div>
        </div>

        <!-- Select -->
        <!--<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> <strong>Seleccionar categoría</strong> </h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                    <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <select class="form-control show-tick">
                                    <option value="">-- Por favor Seleccionar --</option>
                                    <option value="Talleres">Talleres</option>
                                    <option value="Eventos">Eventos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- #END# Select -->
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Modificar</strong> Actividad </h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                    <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        @using (Html.BeginForm("ActualizarActividad", "AdminActividad", FormMethod.Post, new { @id = "frmActualizarActividad" }))
                        {

                            <label class="label">Seleccione la actividad:</label>
                            <div class="row clearfix">

                                <div class="col-sm-6">
                                    @Html.DropDownListFor(Model => Model.IdActividades, ViewBag.ListaActividades as IEnumerable<SelectListItem>, new { @class = "form-control show-tick" })
                                </div>
                            </div>
                            <br />

                            <label class="label">Tipo de actividad:</label>
                            <div class="row clearfix">

                                <div class="col-sm-6">

                                    @Html.DropDownListFor(Model => Model.TipoActividad, ViewBag.TipoActividad as IEnumerable<SelectListItem>, new { @class = "form-control show-tick" })

                                </div>
                            </div>
                            
                            <br />
                            <label class="label">Nombre:</label>
                            <div class="form-group form-float">
                                @Html.TextBoxFor(Model => Model.NombreActividades, new { @class = "form-control", @placeholder = "Ingrese nombre del producto" })
                            </div>
                            <label class="label">Mínimo de cupos:</label>
                            <div class="form-group form-float">
                                @Html.TextBoxFor(Model => Model.MinInventario, new { @class = "form-control", @placeholder = "Ingrese la cantidad mínima de cupos" })
                            </div>
                            <label class="label">Máximo de Cupos:</label>
                            <div class="form-group form-float">
                                @Html.TextBoxFor(Model => Model.MaxInventario, new { @class = "form-control", @placeholder = "Ingrese la cantidad máaxima de cupos" })
                            </div>
                            <label class="label">Precio:</label>
                            <div class="form-group form-float">
                                @Html.TextBoxFor(Model => Model.Precio, new { @class = "form-control", @placeholder = "Ingrese el preccio deseado" })
                            </div>

                            <label class="label">Fecha:</label>
                            <div class="form-group form-float">
                                @Html.TextAreaFor(Model => Model.Fecha, new { @class = "form-control no-resize", @placeholder = "YYYY-MM-DD" })
                            </div>

                            <label class="label">Descripción:</label>
                            <div class="form-group form-float">
                                @Html.TextAreaFor(Model => Model.Descripcion, new { @cols = "30", @rows = "5", @class = "form-control no-resize", @placeholder = "Descripción" })
                            </div>

                            <button class="btn btn-primary btn-round" name="ActualizarProducto" value="Actualizar" type="submit">MODIFICAR</button>





                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Validation -->


    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

<script src="~/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> <!-- Bootstrap Colorpicker Js -->
<script src="~/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script> <!-- Input Mask Plugin Js -->
<script src="~/assets/plugins/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js -->
<script src="~/assets/plugins/jquery-spinner/js/jquery.spinner.js"></script> <!-- Jquery Spinner Plugin Js -->
<script src="~/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script> <!-- Bootstrap Tags Input Plugin Js -->
<script src="~/assets/plugins/nouislider/nouislider.js"></script> <!-- noUISlider Plugin Js -->

<script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
<script src="~/assets/js/pages/forms/advanced-form-elements.js"></script>

<script src="~/FunctionsJS/AdminActividad.js"></script>
