﻿
h2{
    color:white;
}

/*.logo {
    width: 213px;
    height: 36px;*/
   /* background: url('') no-repeat;*/
    /*margin: 2px auto;
}*/

.login-block {
    width: 70%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #23211A;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.login-block h2 {
        color: #23211A;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }

.field-label-register {
    font-weight: bold;
}



.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

    .login-block input {
        width: 100%;
        height: 42px;
        display: flex;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        padding: 0 20px 0 50px;
        outline: none;
    }

        .login-block input#username {
            background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input#username:focus {
                background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input#password {
            background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input#password:focus {
                background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input:active, .login-block input:focus {
            border: 1px solid #23211A;
        }

    .login-block button {
        width: 100%;
        height: 40px;
        background: #23211A;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #23211A;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 14px;
        outline: none;
        cursor: pointer;
    }

        .login-block button:hover {
            background: #502600;
        }



.section-img {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.img-background {
    pointer-events: none;
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    z-index: -1;
}

.p-background {
    padding: 25px;
}