﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BlackFit HTML-5 Template | About Us</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

    <div class="page-wrapper">

        <!-- Preloder -->
        <div id="preloder" class="preloader">
            <div class="loader"></div>
        </div>
        <!-- Εnd Preloader -->

        <!--Page Title-->
        <section class="page-title" style="background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/29/78/y2Y1U4.png)">
            <div class="auto-container">
                <h2>NOSOTROS</h2>
                <ul class="page-breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Testimonial Section -->
        <section class="testimonial-section">
            <div class="auto-container">
                <div class="inner-container">
                    <span class="quote-left flaticon-quote-3"></span>
                    <span class="quote-right flaticon-quote-4"></span>
                    <div class="single-item-carousel owl-carousel owl-theme">

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="text">Somos una comunidad liderada por el deseo de transformar vidas a través de la fuerza, la enseñanza <br> y el trabajo en equipo!</div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="text">Want to be healthy and have a perfect body? BLACKFIT is the right decision for you! It will create your personal training program and balance your diet so you could get the <br> shape of your dream shortly!</div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="text">Want to be healthy and have a perfect body? BLACKFIT is the right decision for you! It will create your personal training program and balance your diet so you could get the <br> shape of your dream shortly!</div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="about-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.</p>
                    <p>Odipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                </div>

            </div>
        </section>
        <!-- End Testimonial Section -->
        <!-- Gallery Section -->
        <!--<section class="gallery-section">
            <div class="outer-container">
                <div class="row clearfix">-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/320x320" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>-->
        <!-- End Gallery Section -->
        <!-- We Are Section -->
        <section class="we-are-section style-two margin">
            <div class="auto-container">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt</p>

                <!--Video Box-->
                <div class="video-box" style="background-image:url(https://via.placeholder.com/1170x594)">
                    <figure class="video-image">
                        <img src="https://via.placeholder.com/1170x594" alt="">
                    </figure>
                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt</p>

                <!-- Button Box -->
                <div class="button-box text-center">
                    <div class="custom-btn  purchase-box-btn">
                        <svg>
                            <rect width="190" height="60" x="1" y="1" rx="0" fill="none" stroke="#ffffff"></rect>
                        </svg>
                        <span>CONTÁCTANOS</span>
                    </div>
                </div>

            </div>
        </section>
        <!-- End We Are Section -->
        <!-- End We Are Section -->
        <!-- Testimonial Section Two -->
        <!--<section class="testimonial-section-two">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2><span>WHAT OUR</span><br>CLIENTS SAY</h2>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua</div>
                </div>

                <div class="testimonial-outer">-->

                    <!--Product Thumbs Carousel-->
                    <!--<div class="client-thumb-outer">
                        <div class="client-thumbs-carousel owl-carousel owl-theme">
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                        </div>
                    </div>-->

                    <!-- Client Testimonial Carousel -->
                    <!--<div class="client-testimonial-carousel owl-carousel owl-theme">-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>-->
        <!-- End Testimonial Section -->
        <!-- News Section -->
        <!--<section class="news-section">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2><span>LATEST</span><br>BLOG POSTS</h2>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua</div>
                </div>

                <div class="single-item-carousel owl-carousel owl-theme">

                    <div class="row clearfix">-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a class="overlay-link" href="blog-detail.html"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/856x822" alt="" />
                                        <div class="post-date">
                                            <span>27</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">HOW TO MAXIMISE TIME SPENT AT THE GYM</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a class="overlay-link" href="blog-detail.html"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>7</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">SIMPLE CONDITION FOR ALL AROUND FITNESS</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a class="overlay-link" href="blog-detail.html"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>18</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">10 TIPS HOW TO PREPARE MEALS FAST AND EASY</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row clearfix">-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a class="overlay-link" href="blog-detail.html"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/856x822" alt="" />
                                        <div class="post-date">
                                            <span>27</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">HOW TO MAXIMISE TIME SPENT AT THE GYM</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a class="overlay-link" href="blog-detail.html"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>7</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">SIMPLE CONDITION FOR ALL AROUND FITNESS</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a class="overlay-link" href="blog-detail.html"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>18</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">10 TIPS HOW TO PREPARE MEALS FAST AND EASY</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row clearfix">-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a class="overlay-link" href="blog-detail.html"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/856x822" alt="" />
                                        <div class="post-date">
                                            <span>27</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">HOW TO MAXIMISE TIME SPENT AT THE GYM</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a class="overlay-link" href="blog-detail.html"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>7</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">SIMPLE CONDITION FOR ALL AROUND FITNESS</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a class="overlay-link" href="blog-detail.html"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>18</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">10 TIPS HOW TO PREPARE MEALS FAST AND EASY</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="lower-text text-center">
                    <a href="blog-detail-two.html" class="view-all">View all</a>
                </div>

            </div>
        </section>-->
        <!-- End News Section -->
        <!-- Main Footer -->
        <footer class="main-footer" style="background-color:black">
            <div class="auto-container">
                <!-- Widgets Section -->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget logo-widget">
                                        <div class="logo">
                                            <a href="#"><img src="~/images/galleryy/__logo horizontal_blanco_peq.png" style="width:240px; height:70px" alt="" /></a>
                                        </div>
                                        <!-- Footer Mobile Logo -->
                                        <div class="footer-mobile-logo">
                                            <a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a>
                                        </div>
                                        <ul class="info-list">
                                            <li><span>Direccion:</span>San Jose, Costa Rica</li>
                                            <li>
                                                <span>Telefonos:</span>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                            </li>
                                            <li><span>Horarios:</span>Lunes-Viernes</li>
                                            <li>7:00 AM - 5:00 PM</li>
                                            <li><span>Correo:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                                            <li class="social-links">
                                                <span>Redes Sociales:</span>
                                                <a href="#" class="fa fa-facebook"></a>
                                                <a href="#" class="fa fa-twitter"></a>
                                                <a href="#" class="fa fa-instagram"></a>
                                                <a href="#" class="fa fa-linkedin"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget news-widget">
                                        <h6>EVENTOS</h6>
                                        <div class="widget-content">

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(3).jpg" alt=""></a></div>
                                                <h5><a href="#">Competencia Crossfit</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(4).jpg" alt=""></a></div>
                                                <h5><a href="#">Taller fuerza</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(5).jpg" alt=""></a></div>
                                                <h5><a href="#">Clase de zumba</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!-- Footer Column -->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget gallery-widget">
                                        <h6>Instagram</h6>
                                        <div class="widget-content">

                                            <div class="images-outer clearfix">
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget newsletter-widget">
                                        <h6>Subscribase</h6>
                                        <!-- Newsletter Form -->
                                        <div class="newsletter-form">
                                            <form method="post" action="contact.html">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Email" required="">
                                                    <button type="submit" class="theme-btn submit-btn"><span><img src="images/icons/message-icon.png" alt="" /></span></button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="copyright">DESIGN BY KADIROV. 2020</div>
                </div>

            </div>
        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <!-- Purchase Popup -->
    <div id="purchase-popup" class="purchase-popup">
        <div class="close-search theme-btn"><span>Close</span></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>

            <div class="purchase-form">
                <div class="sec-title centered">
                    <h2><span>OBTÉN UNA</span>  CONSULTA GRATUITA</h2>
                    <div class="text">Si necesitas más información sobre nuestros servicios <br> no dudes en contactarnos</div>
                </div>

                <!-- Default Form -->
                <form method="post" action="contact.html">
                    <div class="row clearfix">

                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <input type="text" name="name" placeholder="Nombre" required>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <input type="email" name="email" placeholder="Email" required>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="text" name="subject" placeholder="Consulta" required>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <textarea class="darma" name="message" placeholder="Su Mensaje"></textarea>
                        </div>

                        <div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
                            <span class="data">* Su información será encriptada</span>
                            <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">ENVIAR MENSAJE</span></button>
                        </div>

                    </div>
                </form>


            </div>

        </div>
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>