﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BlackFit HTML-5 Template | Contact Us</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloder -->
        <div id="preloder" class="preloader">
            <div class="loader"></div>
        </div>
        <!-- Εnd Preloader -->
        <!-- Main Header-->
        <!--<!--<header class="main-header header-style-one">-->
        <!--Header-Upper-->
        <!--<div class="header-upper">
            <div class="outer-container">
                <div class="inner-container clearfix">-->
        <!-- Logo Box -->
        <!--<div class="logo-box">
            <div class="logo"><a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a></div>
        </div>-->
        <!-- Logo -->
        <!--<div class="mobile-logo pull-left">
            <a href="index.html" title=""><img src="https://via.placeholder.com/230x46" alt="" title=""></a>
        </div>-->
        <!-- Header Social Box -->
        <!--<div class="header-social-box clearfix">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
        </div>

        <div class="outer-box clearfix">-->
        <!-- Hidden Nav Toggler -->
        <!--<div class="nav-toggler">
            <div class="nav-btn"><button class="hidden-bar-opener">Menu</button></div>
        </div>-->
        <!-- / Hidden Nav Toggler -->
        <!--</div>

        <div class="nav-outer clearfix">-->
        <!--Mobile Navigation Toggler-->
        <!--<div class="mobile-nav-toggler"><span class="icon"><img src="images/icons/burger.svg" alt="" /></span></div>-->
        <!-- Main Menu -->
        <!--<nav class="main-menu navbar-expand-md">
            <div class="navbar-header">-->
        <!-- Toggle Button -->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="dropdown">
                                        <a href="#">About Us</a>
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="timetable.html">Time Table</a></li>
                                            <li><a href="commingsoon.html">Comming Soon</a></li>
                                            <li><a href="body-builder.html">Section Page 01</a></li>
                                            <li><a href="body-builder-2.html">Section Page 02</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Trainers</a>
                                        <ul>
                                            <li><a href="trainer.html">Trainer 01</a></li>
                                            <li><a href="trainer-2.html">Trainer 02</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Shop</a>
                                        <ul>
                                            <li><a href="shop-left.html">Shop Left Sidebar</a></li>
                                            <li><a href="shop-right.html">Shop Right Sidebar</a></li>
                                            <li><a href="shop-single.html">Product Single</a></li>
                                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Our Blog</a></li>
                                            <li><a href="blog-classic.html">Blog Classic</a></li>
                                            <li><a href="blog-detail.html">Blog Detail One</a></li>
                                            <li><a href="blog-detail-two.html">Blog Detail Two</a></li>
                                            <li><a href="not-found.html">Not Found</a></li>
                                        </ul>
                                    </li>
                                    <li class="current"><a href="contact.html">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>

                    </div>

                </div>

            </div>
        </div>-->
        <!--End Header Upper-->
        <!-- Sticky Header  -->
        <!--<div class="sticky-header">
            <div class="auto-container clearfix">-->
        <!--Logo-->
        <!--<div class="logo pull-left">
            <a href="index.html" title=""><img src="https://via.placeholder.com/230x46" alt="" title=""></a>
        </div>-->
        <!--Right Col-->
        <!--<div class="pull-right">-->
        <!-- Main Menu -->
        <!--<nav class="main-menu">-->
        <!--Keep This Empty / Menu will come through Javascript-->
        <!--</nav>--><!-- Main Menu End-->
        <!--</div>
            </div>
        </div>-->
        <!-- End Sticky Menu -->
        <!-- Mobile Menu  -->
        <!--<div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="https://via.placeholder.com/230x46" alt="" title=""></a></div>
                <div class="menu-outer">-->
        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <!--</div>
            </nav>
        </div>-->
        <!-- End Mobile Menu -->
        <!--</header>-->
        <!-- End Main Header -->-->
        <!--@*FullScreen Menu
            <div class="fullscreen-menu">
                Close Btn
                <div class="close-menu"><span>Close</span></div>

                <div class="menu-outer-container">
                    <div class="menu-box">
                        <nav class="full-menu">
                            <ul class="navigation">
                                <li><a href="index.html">Inicio</a></li>
                                <li class="dropdown">
                                    <a href="#">About Us</a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="timetable.html">Time Table</a></li>
                                        <li><a href="commingsoon.html">Comming Soon</a></li>
                                        <li><a href="body-builder.html">Section Page 01</a></li>
                                        <li><a href="body-builder-2.html">Section Page 02</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Trainers</a>
                                    <ul>
                                        <li><a href="trainer.html">Trainer 01</a></li>
                                        <li><a href="trainer-2.html">Trainer 02</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Shop</a>
                                    <ul>
                                        <li><a href="shop-left.html">Shop Left Sidebar</a></li>
                                        <li><a href="shop-right.html">Shop Right Sidebar</a></li>
                                        <li><a href="shop-single.html">Product Single</a></li>
                                        <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Our Blog</a></li>
                                        <li><a href="blog-classic.html">Blog Classic</a></li>
                                        <li><a href="blog-detail.html">Blog Detail One</a></li>
                                        <li><a href="blog-detail-two.html">Blog Detail Two</a></li>
                                        <li><a href="not-found.html">Not Found</a></li>
                                    </ul>
                                </li>
                                <li class="current"><a href="contact.html">Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>*@-->
        <!-- End FullScreen Menu -->
        <!--Page Title-->
        <section class="page-title" style="background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/29/78/y2Y1U4.png)">
            <div class="auto-container">
                <h2>CONTÁCTANOS</h2>
                <ul class="page-breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li>Contáctanos</li>
                </ul>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Contact Page Section -->
        <section class="contact-page-section">
            <div class="auto-container">


                <div class="">

                    <!-- Form Column -->
                    <div class="">
                        <div class="">

                            <!-- Contact Form -->
                            <div class="purchase-form">
                                <div class="sec-title centered">
                                    <h2>TIENES ALGUNA CONSULTA</h2>
                                    <div class="text">Si necesitas más información sobre nuestros servicios <br> no dudes en contactarnos</div>
                                </div>
                                @model FrontEndVakyria.Modelos_BD.Consulta
                                <!-- Default Form -->
                                @using (Html.BeginForm("InsertarConsulta", "Home", FormMethod.Post, new { @id = "frmInsertarConsulta" }))
                                {
                                    <div class="row clearfix">

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            @Html.TextBoxFor(Model => Model.NombrePersona, new { @class = "form-control", @placeholder = "Ingrese su nombre" })

                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @placeholder = "Ingrese una dirección válida de Email" })

                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            @Html.TextBoxFor(Model => Model.Consulta1, new { @class = "form-control", @placeholder = "Ingrese el nombre de su consulta" })

                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            @Html.TextAreaFor(Model => Model.Mensaje, new { @class = "form-control", @placeholder = "Ingrese un mensaje" })

                                        </div>

                                        <div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
                                            <span class="data">* Su información será encriptada</span>
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">ENVIAR MENSAJE</span></button>
                                        </div>

                                    </div>
                                }

                            </div>
                            <!-- End Contact Form -->

                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Page Section -->
        <!-- Main Footer -->
        <footer class="main-footer" style="background-color:black">
            <div class="auto-container">
                <!-- Widgets Section -->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget logo-widget">
                                        <div class="logo">
                                            <a href="#"><img src="~/images/galleryy/__logo horizontal_blanco_peq.png" style="width:240px; height:70px" alt="" /></a>
                                        </div>
                                        <!-- Footer Mobile Logo -->
                                        <div class="footer-mobile-logo">
                                            <a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a>
                                        </div>
                                        <ul class="info-list">
                                            <li><span>Direccion:</span>San Jose, Costa Rica</li>
                                            <li>
                                                <span>Telefonos:</span>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                            </li>
                                            <li><span>Horarios:</span>Lunes-Viernes</li>
                                            <li>7:00 AM - 5:00 PM</li>
                                            <li><span>Correo:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                                            <li class="social-links">
                                                <span>Redes Sociales:</span>
                                                <a href="#" class="fa fa-facebook"></a>
                                                <a href="#" class="fa fa-twitter"></a>
                                                <a href="#" class="fa fa-instagram"></a>
                                                <a href="#" class="fa fa-linkedin"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget news-widget">
                                        <h6>EVENTOS</h6>
                                        <div class="widget-content">

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(3).jpg" alt=""></a></div>
                                                <h5><a href="#">Competencia Crossfit</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(4).jpg" alt=""></a></div>
                                                <h5><a href="#">Taller fuerza</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(5).jpg" alt=""></a></div>
                                                <h5><a href="#">Clase de zumba</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!-- Footer Column -->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget gallery-widget">
                                        <h6>Instagram</h6>
                                        <div class="widget-content">

                                            <div class="images-outer clearfix">
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget newsletter-widget">
                                        <h6>Subscribase</h6>
                                        <!-- Newsletter Form -->
                                        <div class="newsletter-form">
                                            <form method="post" action="contact.html">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Email" required="">
                                                    <button type="submit" class="theme-btn submit-btn"><span><img src="images/icons/message-icon.png" alt="" /></span></button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="copyright">DESIGN BY KADIROV. 2020</div>
                </div>

            </div>
        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>