﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BlackFit HTML-5 Template | Homepage</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

    <div class="page-wrapper">

        <!-- Preloder -->
        <div id="preloder" class="preloader">
            <div class="loader"></div>
        </div>
        <!-- Εnd Preloader -->
        <!-- Main Header-->
        <!--<header class="main-header header-style-one">-->

            <!--Header-Upper-->
            <!--<div class="header-upper">
                <div class="outer-container">
                    <div class="inner-container clearfix">-->

                        <!-- Logo Box -->
                        <!--<div class="logo-box">
                            <div class="logo"><a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a></div>
                        </div>-->

                        <!-- Logo -->
                        <!--<div class="mobile-logo pull-left">
                            <a href="index.html" title=""><img src="https://via.placeholder.com/230x46" alt="" title=""></a>
                        </div>-->

                        <!-- Header Social Box -->
                        <!--<div class="header-social-box clearfix">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>

                        <div class="outer-box clearfix">-->

                            <!-- Hidden Nav Toggler -->
                            <!--<div class="nav-toggler">
                                <div class="nav-btn"><button class="hidden-bar-opener">Menu</button></div>
                            </div>-->
                            <!-- / Hidden Nav Toggler -->

                        <!--</div>

                        <div class="nav-outer clearfix">-->
                            <!--Mobile Navigation Toggler-->
                            <!--<div class="mobile-nav-toggler"><span class="icon"><img src="images/icons/burger.svg" alt="" /></span></div>-->
                            <!-- Main Menu -->
                            <!--<nav class="main-menu navbar-expand-md">
                                <div class="navbar-header">-->
                                    <!-- Toggle Button -->
                                    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a href="index.html">Home</a></li>
                                        <li class="dropdown">
                                            <a href="#">About Us</a>
                                            <ul>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="timetable.html">Time Table</a></li>
                                                <li><a href="commingsoon.html">Comming Soon</a></li>
                                                <li><a href="body-builder.html">Section Page 01</a></li>
                                                <li><a href="body-builder-2.html">Section Page 02</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Trainers</a>
                                            <ul>
                                                <li><a href="trainer.html">Trainer 01</a></li>
                                                <li><a href="trainer-2.html">Trainer 02</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Shop</a>
                                            <ul>
                                                <li><a href="shop-left.html">Shop Left Sidebar</a></li>
                                                <li><a href="shop-right.html">Shop Right Sidebar</a></li>
                                                <li><a href="shop-single.html">Product Single</a></li>
                                                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog.html">Our Blog</a></li>
                                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                                <li><a href="blog-detail.html">Blog Detail One</a></li>
                                                <li><a href="blog-detail-two.html">Blog Detail Two</a></li>
                                                <li><a href="not-found.html">Not Found</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact us</a></li>
                                    </ul>
                                </div>
                            </nav>

                        </div>

                    </div>

                </div>
            </div>-->
            <!--End Header Upper-->
            <!-- Sticky Header  -->
            <!--<div class="sticky-header">
                <div class="auto-container clearfix">-->
                    <!--Logo-->
                    <!--<div class="logo pull-left">
                        <a href="index.html" title=""><img src="https://via.placeholder.com/230x46" alt="" title=""></a>
                    </div>-->
                    <!--Right Col-->
                    <!--<div class="pull-right">-->
                        <!-- Main Menu -->
                        <!--<nav class="main-menu">-->
                            <!--Keep This Empty / Menu will come through Javascript-->
                        <!--</nav>--><!-- Main Menu End-->

                    <!--</div>
                </div>
            </div>--><!-- End Sticky Menu -->
            <!-- Mobile Menu  -->
            <!--<div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

                <nav class="menu-box">
                    <div class="nav-logo"><a href="index.html"><img src="https://via.placeholder.com/230x46" alt="" title=""></a></div>
                    <div class="menu-outer">-->
                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                    <!--</div>
                </nav>

            </div>-->
            <!-- End Mobile Menu -->

        <!--</header>-->
        <!-- End Main Header -->
        <!-- FullScreen Menu -->
        <!--<div class="fullscreen-menu">-->
            <!--Close Btn-->
            <!--<div class="close-menu"><span>Close</span></div>

            <div class="menu-outer-container">
                <div class="menu-box">
                    <nav class="full-menu">
                        <ul class="navigation">
                            <li><a href="index.html">Home</a></li>
                            <li class="dropdown">
                                <a href="#">About Us</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="timetable.html">Time Table</a></li>
                                    <li><a href="commingsoon.html">Comming Soon</a></li>
                                    <li><a href="body-builder.html">Section Page 01</a></li>
                                    <li><a href="body-builder-2.html">Section Page 02</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Trainers</a>
                                <ul>
                                    <li><a href="trainer.html">Trainer 01</a></li>
                                    <li><a href="trainer-2.html">Trainer 02</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Shop</a>
                                <ul>
                                    <li><a href="shop-left.html">Shop Left Sidebar</a></li>
                                    <li><a href="shop-right.html">Shop Right Sidebar</a></li>
                                    <li><a href="shop-single.html">Product Single</a></li>
                                    <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Our Blog</a></li>
                                    <li><a href="blog-classic.html">Blog Classic</a></li>
                                    <li><a href="blog-detail.html">Blog Detail One</a></li>
                                    <li><a href="blog-detail-two.html">Blog Detail Two</a></li>
                                    <li><a href="not-found.html">Not Found</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>-->
        <!-- End FullScreen Menu -->
        <!-- Banner Section -->
        <section class="banner-section">
            <div class="main-slider-carousel owl-carousel owl-theme">

                <div class="slide">
                    <img src="~/images/galleryy/wallpaperflare.com_wallpaper(8).jpg" class="image-layer" />/>
                    <div class="auto-container">
                        <!-- Content Boxed -->
                        <div class="content-boxed">
                            <div class="inner-boxed">
                                <h1><span>Valkyria</span></h1>
                                <div class="text">FUERZA | COMUNIDAD | ENSEÑANZA</div>
                                <div class="btns-box">
                                    <div class="theme-btn purchase-box-btn btn-style-one"><span class="txt">ÚNETE A LA COMUNIDAD</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="slide">
                    <img src="~/images/galleryy/wallpaperflare.com_wallpaper(7).jpg" class="image-layer" />/>
                    <div class="auto-container">
                        <!-- Content Boxed -->
                        <div class="content-boxed">
                            <div class="inner-boxed">
                                <h1><span>Valkyria</span></h1>
                                <div class="text">FUERZA | COMUNIDAD | ENSEÑANZA</div>
                                <div class="btns-box">
                                    <div class="theme-btn purchase-box-btn btn-style-one"><span class="txt">ÚNETE A LA COMUNIDAD</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="slide">
                    <img src="~/images/galleryy/wallpaperflare.com_wallpaper(5).jpg" class="image-layer" />/>
                    <div class="auto-container">
                        <!-- Content Boxed -->
                        <div class="content-boxed">
                            <div class="inner-boxed">
                                <h1><span>Valkyria</span></h1>
                                <div class="text">FUERZA | COMUNIDAD | ENSEÑANZA</div>
                                <div class="btns-box">
                                    <div class="theme-btn purchase-box-btn btn-style-one"><span class="txt">ÚNETE A LA COMUNIDAD</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <!--Scroll Dwwn Btn-->
            <div class="mouse-btn-down scroll-to-target" data-target=".testimonial-section">
                <span class="icon"><img src="images/icons/scroll.png" alt="" /></span>
            </div>

        </section>
        <!-- End Banner Section -->
        <!-- Testimonial Section -->
        <section class="testimonial-section">
            <div class="auto-container">
                <div class="inner-container">
                    <span class="quote-left flaticon-quote-3"></span>
                    <span class="quote-right flaticon-quote-4"></span>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">SOMOS MUJERES QUE MÁS ALLÁ DE MOLDEAR CUERPOS <br>DESAROLLAMOS TALENTO!</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Testimonial Section -->
        <!-- Services Section -->
        <section class="services-section">
            <div class="outer-container">
                <div class="clearfix">

                    <!-- Service Block -->
                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="body-builder.html" class="overlay-link"></a>
                                <img src="~/images/galleryy/Strenght_edited.png"/>
                                <!-- Overlay Box -->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <h4><a href="body-builder.html">FUERZA</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="body-builder.html" class="overlay-link"></a>
                                <img src="~/images/galleryy/Comunidad_edited.png" />
                                <!-- Overlay Box -->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <h4><a href="body-builder.html">COMUNIDAD</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="body-builder.html" class="overlay-link"></a>
                                <img src="~/images/galleryy/Ensenanza.png" />
                                <!-- Overlay Box -->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <h4><a href="body-builder.html">ENSEÑANZA</a></h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="body-builder.html" class="overlay-link"></a>
                                <img src="~/images/galleryy/Talleres.png" />
                                <!-- Overlay Box -->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <h4><a href="body-builder.html">TALLERES</a></h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Services Section -->
        <!-- We Are Section -->
        <section class="we-are-section">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2><span>Quienes</span> Somos</h2>
                    <div class="text">El Proyecto Valkyria es una comunidad liderada por mujeres hacia mujeres,<br /> por el deseo de transformar vidas a través de fuerza, la enseñanza y el trabajo en equipo.<br /> El objetivo principal del proyecto es aplicar diferentes métodos de acondicionamiento físico <br /> que intensifican la fortaleza femenina.  </div>
                </div>

                <!--Video Box-->
                <div class="video-box">
                    <figure class="video-image">
                        <img src="~/images/galleryy/Valkyria - Branding.png" class="img-background"/>
                    </figure>
                    <a href="https://www.youtube.com/watch?v=mvImLCWSfFg" class="lightbox-image overlay-box"><span><img src="images/icons/play-icon.png" alt="" /><i class="ripple"></i></span></a>
                </div>


            </div>
        </section>
        <!-- End We Are Section -->
        <!-- Gallery Section -->
        <!--<section class="gallery-section">
            <div class="outer-container">
                <div class="row clearfix">-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- Gallery Block -->
                    <!--<div class="gallery-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="https://via.placeholder.com/320x320" alt="" />
                                <a class="overlay-link" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>-->
                                <!-- Overlay Box -->
                                <!--<div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a class="plus" href="https://via.placeholder.com/932x932" data-fancybox="images" data-caption=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>-->
        <!-- End Gallery Section -->
        <!-- Counter Section -->
        <section class="counter-section">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2><span>PORQUE</span> ELEGIRNOS</h2>
                    <div class="text">En Valkyria cultivamos nuestra fuerza a través del entrenamiento y aprendizaje en comunidad <br>Este método nos permite enfrentamos a los retos 
                    de la vida con mayor facilidad, explorar nuestros límites físicos y mentales, todo a través del poder de la fuerza</div>
                </div>

                <!-- Fact Counter -->
                <div class="fact-counter">
                    <div class="row clearfix">

                        <!-- Column -->
                        <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3000" data-stop="03">0</span>
                                    </div>
                                    <div class="counter-title">Programas de Entrenamiento</div>
                                </div>
                            </div>
                        </div>

                        <!-- Column -->
                        <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="count-outer count-box alternate">
                                        <span class="count-text" data-speed="5000" data-stop="12">0</span>
                                    </div>
                                    <div class="counter-title">Años de Experiencia</div>
                                </div>
                            </div>
                        </div>

                        <!-- Column -->
                        <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="5000" data-stop="200">0</span>
                                    </div>
                                    <div class="counter-title">Mujeres Parte de Nuesta Comunidad</div>
                                </div>
                            </div>
                        </div>

                        <!-- Column -->
                        <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="5000" data-stop="02">0</span>
                                    </div>
                                    <div class="counter-title">Entrenadoras Profesionales</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!-- End Counter Section -->
        <!-- Pricing Section -->
        <section class="pricing-section" style="background-image: url('https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80')">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2><span>Programas</span> Y TALLERES</h2>
                </div>
                <div class="row clearfix">

                    <!-- Pricing Block -->
                    <div class="price-block col-lg-4 col-md-4 col-sm-12">
                        <div class="side-text">PROGRAMA</div>
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon"><img src="images/icons/price-3-icon.svg" alt="" /></span>
                            </div>
                            <ul class="price-list">
                                <li>Fuerza Valkyria</li>
                                <li>Programa enfocado en fuerza</li>
                                <li>Mejora tu rendimiento</li>
                                <li>Creado especialmente para mujeres</li>
                            </ul>
                            <div class="price">$90<span>Un Unico Pago</span></div>
                            <div class="theme-btn btn-style-one purchase-box-btn"><span class="txt">COMPRAR AHORA</span></div>
                        </div>
                    </div>

                    <!-- Pricing Block -->
                    <div class="price-block col-lg-4 col-md-4 col-sm-12">
                        <div class="side-text">TALLERES</div>
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon"><img src="images/icons/price-1-icon.svg" alt="" /></span>
                            </div>
                            <ul class="price-list">
                                <li>Taller Valkyria</li>
                                <li>Mejora tú técnica</li>
                                <li>Aprende sobre nuevas tendencias de entrenamiento</li>
                                <li>Talleres al aire libre</li>
                                
                            </ul>
                            <div class="price">$80<span>Un Unico Pago</span></div>
                            <div class="theme-btn btn-style-one purchase-box-btn"><span class="txt">COMPRAR AHORA</span></div>
                        </div>
                    </div>

                    <!-- Pricing Block -->
                    <div class="price-block col-lg-4 col-md-4 col-sm-12">
                        <div class="side-text">PROGRAMACIÓN</div>
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon"><img src="images/icons/price-2-icon.svg" alt="" /></span>
                            </div>
                            <ul class="price-list">
                                <li>Programación Valkyria</li>
                                <li>Rutina de Fuerza para Mujeres</li>
                                <li>Videos Explicativos</li>
                                <li>Disponible Virtualmente</li>
                                
                            </ul>
                            <div class="price">$70<span>Un Unico Pago</span></div>
                            <div class="theme-btn btn-style-one purchase-box-btn"><span class="txt">COMPRAR AHORA</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Pricing Section -->
        <!-- Coaches Section -->
        <section class="coaches-section">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2><span>NUESTRAS</span> ENTRENADORAS</h2>
                    <div class="text">
                        Amanda Brenes y Natalia Morales son terapeutas físicas y entrenadoras de profesión.<br>En los últimos años han promovido el entrenamiento de fuerza en población salud, demostrando en la práctica lo grandes beneficios que se obtienen a largo plazo.
                    </div>
                </div>
            </div>

            <div class="four-item-carousel owl-carousel owl-theme">

                <!-- Coach Block -->
                <div class="coach-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="https://via.placeholder.com/480x703" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <a href="trainer.html" class="overlay-link"></a>
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4><a href="blog-detail.html">John</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Overlay Box Two -->
                            <div class="overlay-box-two">
                                <a href="trainer.html" class="overlay-link-two"></a>
                                <div class="content">
                                    <h5><a href="blog-detail.html">JOHN <br> ABRAHAM</a></h5>
                                    <div class="text">8 years of experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
                                    <!-- Social Box -->
                                    <div class="social-box">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coach Block -->
                <div class="coach-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="https://via.placeholder.com/480x703" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <a href="trainer.html" class="overlay-link"></a>
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4><a href="blog-detail.html">DONALD</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Overlay Box Two -->
                            <div class="overlay-box-two">
                                <a href="trainer.html" class="overlay-link-two"></a>
                                <div class="content">
                                    <h5><a href="blog-detail.html">DONALD</a></h5>
                                    <div class="text">8 years of experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
                                    <!-- Social Box -->
                                    <div class="social-box">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coach Block -->
                <div class="coach-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="https://via.placeholder.com/480x703" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <a href="trainer.html" class="overlay-link"></a>
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4><a href="blog-detail.html">MONICA</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Overlay Box Two -->
                            <div class="overlay-box-two">
                                <a href="trainer.html" class="overlay-link-two"></a>
                                <div class="content">
                                    <h5><a href="blog-detail.html">MONICA</a></h5>
                                    <div class="text">8 years of experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
                                    <!-- Social Box -->
                                    <div class="social-box">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coach Block -->
                <div class="coach-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="https://via.placeholder.com/480x703" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <a href="trainer.html" class="overlay-link"></a>
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4><a href="blog-detail.html">JENNIFER</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Overlay Box Two -->
                            <div class="overlay-box-two">
                                <a href="trainer.html" class="overlay-link-two"></a>
                                <div class="content">
                                    <h5><a href="blog-detail.html">JENNIFER</a></h5>
                                    <div class="text">8 years of experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
                                    <!-- Social Box -->
                                    <div class="social-box">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coach Block -->
                <div class="coach-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="https://via.placeholder.com/480x703" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <a href="trainer.html" class="overlay-link"></a>
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4><a href="blog-detail.html">John</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Overlay Box Two -->
                            <div class="overlay-box-two">
                                <a href="trainer.html" class="overlay-link-two"></a>
                                <div class="content">
                                    <h5><a href="blog-detail.html">JOHN <br> ABRAHAM</a></h5>
                                    <div class="text">8 years of experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
                                    <!-- Social Box -->
                                    <div class="social-box">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coach Block -->
                <div class="coach-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="https://via.placeholder.com/480x703" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <a href="trainer.html" class="overlay-link"></a>
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4><a href="blog-detail.html">DONALD</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Overlay Box Two -->
                            <div class="overlay-box-two">
                                <a href="trainer.html" class="overlay-link-two"></a>
                                <div class="content">
                                    <h5><a href="blog-detail.html">DONALD</a></h5>
                                    <div class="text">8 years of experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
                                    <!-- Social Box -->
                                    <div class="social-box">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coach Block -->
                <div class="coach-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="https://via.placeholder.com/480x703" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <a href="trainer.html" class="overlay-link"></a>
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4><a href="blog-detail.html">MONICA</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Overlay Box Two -->
                            <div class="overlay-box-two">
                                <a href="trainer.html" class="overlay-link-two"></a>
                                <div class="content">
                                    <h5><a href="blog-detail.html">MONICA</a></h5>
                                    <div class="text">8 years of experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
                                    <!-- Social Box -->
                                    <div class="social-box">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coach Block -->
                <div class="coach-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="https://via.placeholder.com/480x703" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <a href="trainer.html" class="overlay-link"></a>
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h4><a href="blog-detail.html">JENNIFER</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Overlay Box Two -->
                            <div class="overlay-box-two">
                                <a href="trainer.html" class="overlay-link-two"></a>
                                <div class="content">
                                    <h5><a href="blog-detail.html">JENNIFER</a></h5>
                                    <div class="text">8 years of experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
                                    <!-- Social Box -->
                                    <div class="social-box">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- End Coaches Section -->
        <!-- Calculator Section -->
        <section class="calculator-section">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2><span>bmi</span> CALCULATOR</h2>
                    <div class="text">El índice de masa corporal (BMI) es una medida de la grasa corporal basada en la altura y el peso que se aplica a hombres y mujeres <br> Use la herramienta a continuación para calcular la suya.</div>
                </div>

                <div class="inner-container">

                    <!-- Default Form -->
                    <div class="default-form">

                        <!-- Default Form -->
                        <form method="post" action="contact.html">
                            <div class="row clearfix">

                                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="cm" placeholder="Altura / Cm" required>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="weight" placeholder="Peso / kg" required>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="age" placeholder="Edad" required>
                                </div>

                                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                    <select class="custom-select-box">
                                        <option>Género</option>
                                        <option>Hombre</option>
                                        <option>Mujer</option>
                                        <option>No Binario</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">CALCULAR</span></button>
                                </div>

                            </div>
                        </form>

                        <!--End Default Form -->
                    </div>

                </div>

            </div>
        </section>
        <!-- End Calculator Section -->
        <!-- Testimonial Section Two -->
        <!--<section class="testimonial-section-two">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2><span>WHAT OUR</span><br>CLIENTS SAY</h2>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua</div>
                </div>

                <div class="testimonial-outer">-->


                    <!--Product Thumbs Carousel-->
                    <!--<div class="client-thumb-outer">
                        <div class="client-thumbs-carousel owl-carousel owl-theme">
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="https://via.placeholder.com/144x144" alt=""></figure>
                            </div>
                        </div>
                    </div>-->

                    <!-- Client Testimonial Carousel -->
                    <!--<div class="client-testimonial-carousel owl-carousel owl-theme">-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>-->

                        <!--Testimonial Block -->
                        <!--<div class="testimonial-block-two">
                            <div class="inner-box">
                                <span class="quote-left flaticon-quote-3"></span>
                                <span class="quote-right flaticon-quote-4"></span>
                                <div class="text">“BLACKFIT’s 90 day challenge put me back in the gym on a consistent basis. I eat clean and listen to the advice of coach on every workout”</div>
                                <div class="author-info">
                                    <div class="author-name">Samantha Green</div>
                                    <div class="designation">CEO of Company</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>-->
        <!-- End Testimonial Section -->
        <!-- News Section -->
        <!--<section class="news-section">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2><span>LATEST</span><br>BLOG POSTS</h2>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua</div>
                </div>

                <div class="single-item-carousel owl-carousel owl-theme">

                    <div class="row clearfix">-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a href="blog-detail.html" class="overlay-link"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/856x822" alt="" />
                                        <div class="post-date">
                                            <span>27</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">HOW TO MAXIMISE TIME SPENT AT THE GYM</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a href="blog-detail.html" class="overlay-link"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>7</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">SIMPLE CONDITION FOR ALL AROUND FITNESS</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a href="blog-detail.html" class="overlay-link"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>18</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">10 TIPS HOW TO PREPARE MEALS FAST AND EASY</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row clearfix">-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a href="blog-detail.html" class="overlay-link"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/856x822" alt="" />
                                        <div class="post-date">
                                            <span>27</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">HOW TO MAXIMISE TIME SPENT AT THE GYM</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a href="blog-detail.html" class="overlay-link"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>7</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">SIMPLE CONDITION FOR ALL AROUND FITNESS</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a href="blog-detail.html" class="overlay-link"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>18</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">10 TIPS HOW TO PREPARE MEALS FAST AND EASY</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row clearfix">-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a href="blog-detail.html" class="overlay-link"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/856x822" alt="" />
                                        <div class="post-date">
                                            <span>27</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">HOW TO MAXIMISE TIME SPENT AT THE GYM</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>-->

                        <!-- Column -->
                        <!--<div class="column col-lg-6 col-md-12 col-sm-12">-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a href="blog-detail.html" class="overlay-link"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>7</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">SIMPLE CONDITION FOR ALL AROUND FITNESS</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <!-- News Block -->
                            <!--<div class="news-block">
                                <div class="inner-box">
                                    <a href="blog-detail.html" class="overlay-link"></a>
                                    <div class="image">
                                        <img src="https://via.placeholder.com/569x255" alt="" />
                                        <div class="post-date">
                                            <span>18</span>SEP
                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-detail.html">10 TIPS HOW TO PREPARE MEALS FAST AND EASY</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="lower-text text-center">
                    <a href="blog-detail-two.html" class="view-all">View all</a>
                </div>

            </div>
        </section>-->
        <!-- End News Section -->
        <!-- Main Footer -->
        <footer class="main-footer" style="background-color:black">
            <div class="auto-container">
                <!-- Widgets Section -->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget logo-widget">
                                        <div class="logo">
                                            <a href="#"><img src="~/images/galleryy/__logo horizontal_blanco_peq.png" style="width:240px; height:70px"alt="" /></a>
                                        </div>
                                        <!-- Footer Mobile Logo -->
                                        <div class="footer-mobile-logo">
                                            <a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a>
                                        </div>
                                        <ul class="info-list">
                                            <li><span>Direccion:</span>San Jose, Costa Rica</li>
                                            <li>
                                                <span>Telefonos:</span>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                            </li>
                                            <li><span>Horarios:</span>Lunes-Viernes</li>
                                            <li>7:00 AM - 5:00 PM</li>
                                            <li><span>Correo:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                                            <li class="social-links">
                                                <span>Redes Sociales:</span>
                                                <a href="#" class="fa fa-facebook"></a>
                                                <a href="#" class="fa fa-twitter"></a>
                                                <a href="#" class="fa fa-instagram"></a>
                                                <a href="#" class="fa fa-linkedin"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget news-widget">
                                        <h6>EVENTOS</h6>
                                        <div class="widget-content">

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(3).jpg" alt=""></a></div>
                                                <h5><a href="#">Competencia Crossfit</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(4).jpg" alt=""></a></div>
                                                <h5><a href="#">Taller fuerza</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(5).jpg" alt=""></a></div>
                                                <h5><a href="#">Clase de zumba</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!-- Footer Column -->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget gallery-widget">
                                        <h6>Instagram</h6>
                                        <div class="widget-content">

                                            <div class="images-outer clearfix">
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget newsletter-widget">
                                        <h6>Subscribase</h6>
                                        <!-- Newsletter Form -->
                                        <div class="newsletter-form">
                                            <form method="post" action="contact.html">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Email" required="">
                                                    <button type="submit" class="theme-btn submit-btn"><span><img src="images/icons/message-icon.png" alt="" /></span></button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="copyright">DESIGN BY KADIROV. 2020</div>
                </div>

            </div>
        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <!-- Purchase Popup -->
    <div id="purchase-popup" class="purchase-popup">
        <div class="close-search theme-btn"><span>Close</span></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>

            <div class="purchase-form">
                <div class="sec-title centered">
                    <h2><span>OBTÉN UNA</span>  CONSULTA GRATUITA</h2>
                    <div class="text">Si necesitas más información sobre nuestros servicios <br> no dudes en contactarnos</div>
                </div>

                <!-- Default Form -->
                @model FrontEndVakyria.Modelos_BD.Consulta
                <!-- Default Form -->
                @using (Html.BeginForm("InsertarConsulta", "Home", FormMethod.Post, new { @id = "frmInsertarConsulta" }))
                {

                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                        @Html.TextBoxFor(Model => Model.NombrePersona, new { @class = "form-control", @placeholder = "Ingrese su nombre" })

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @placeholder = "Ingrese una dirección válida de Email" })
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        @Html.TextBoxFor(Model => Model.Consulta1, new { @class = "form-control", @placeholder = "Ingrese el nombre de su consulta" })
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        @Html.TextAreaFor(Model => Model.Mensaje, new { @class = "form-control", @placeholder = "Ingrese un mensaje" })
                    </div>

                    <div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
                        <span class="data">* Su información será encriptada</span>
                        <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">ENVIAR MENSAJE</span></button>
                    </div>

                }


            </div>

        </div>
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>