﻿@model IEnumerable<FrontEndVakyria.Modelos_BD.Workshop>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<!-- Custom Css -->
<link rel="stylesheet" href="~/assets/css/main.css">
<link rel="stylesheet" href="~/assets/css/color_skins.css">

<!-- Main Content -->
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Workshops</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="../Admin/AdminInicio"<i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Workshops</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <h5 style="color:red;font-weight:bold;">
                @{ @ViewBag.Mensaje }
            </h5>
        </div>

        <!-- DataTable Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Listado</strong> de Workshops</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu slideUp">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">

                            <br />
                            <div class="form-group form-float">
                                <label class="label">Seleccione una categoria</label>
                                <div class="row clearfix">

                                    <div class="col-sm-6">
                                        @Html.DropDownList("filterDp", ViewBag.IdWorkshop as IEnumerable<SelectListItem>, new { @id = "filterDp", @class = "form-control show-tick" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="editableTableWorkshops">
                                <thead>
                                    <tr>

                                        <th>Nombre</th>
                                        <th>Mínimo de Cupos</th>
                                        <th>Máximo de Cupos</th>
                                        <th>Precio</th>
                                        <th>Fecha</th>
                                        <th>Descripcion</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>

                                        <th>Nombre</th>
                                        <th>Mínimo de Cupos</th>
                                        <th>Máximo de Cupos</th>
                                        <th>Precio</th>
                                        <th>Fecha</th>
                                        <th>Descripcion</th>
                                        <th>Editar</th>
                                    </tr>
                                </tfoot>
                                <tbody id="fbody">
                                    @foreach (var item in Model)
                                    {
                                        <tr data-id="@item.IdWorkshop">

                                            <td data-field="name">@item.NombreWorkshop.</td>
                                            <td data-field="cant">@item.MinInventario</td>
                                            <td data-field="cant">@item.MaxInventatio</td>
                                            <td data-field="price">@item.Precio.</td>
                                            <td data-field="price">@item.Fecha.</td>
                                            <td data-field="desc">@item.Descripcion</td>
                                            <td>
                                                <a id="IdWork" value="@item.IdWorkshop" class="button button-small edit" title="Eliminar">
                                                    <span><i class="zmdi zmdi-delete"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# DataTable Examples -->


    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<!-- Jquery DataTable Plugin Js -->
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>

<script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
<script src="~/FunctionsJS/AdminWorkshop.js"></script>
<script src="~/assets/js/pages/tables/editable-table-workshops.js"></script>