﻿@model IEnumerable<FrontEndVakyria.Modelos_BD.Imagen>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="../Admin/AdminInicio"<i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                    </div>
                </div>
            </div>
        </div>

        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Ingresar</strong> Imagen</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                    <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="body">

                        <form method="post" enctype="multipart/form-data" asp-controller="Imagen" asp-action="InsertarImagenes">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Ingrese el nombre del archivo:</label>
                                    <input type="text" class="form-control" name="NombreArchivo" multiple placeholder="Ingrese el nombre del archivo..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="control input-group-text">Subir</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" name="files" data="Buscar" class="custom-file-input" multiple />
                                            <label class="custom-file-label" for="inputGroupFile01">Escoja in archivo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="submit" value="SUBIR" class="btn btn-primary btn-round" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Validation -->
        @*<div class="row">


                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                        </tr>
                    </thead>
                    <tbody id="fbody">

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.IdImagen</td>
                                <td>@item.NombreImagen</td>
                                <td>@item.DatosImagen</td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>*@

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/js/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="~/js/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

<script src="~/js/knob.bundle.js"></script> <!-- Jquery Knob-->
<script src="~/js/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
<script src="~/js/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
<script src="~/js/sparkline.bundle.js"></script> <!-- sparkline Plugin Js -->
<script src="~/js/doughnut.bundle.js"></script>

<script src="~/js/index.js"></script>

<script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

<script src="~/assets/plugins/dropzone/dropzone.js"></script> <!-- Dropzone Plugin Js -->

<script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->

<script src="~/FunctionsJS/AdminWorkshop.js"></script>
