﻿@model IEnumerable<FrontEndVakyria.Modelos_BD.Workshop>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Microsoft.AspNetCore.Http;

<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">

            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Actividades</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="../Admin/AdminInicio"<i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Workshops</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        @*<input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-money zmdi-hc-3x col-blush" style="color:cornflowerblue;"></i></p>
                        <span>Ventas Workshops</span>
                        <h3 class="m-b-10">₡<span>@Context.Session.GetString("totalEventos")</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-balance zmdi-hc-3x col-green"></i></p>
                        <span>Ventas totales</span>
                        <h3 class="m-b-10">₡<span>@Context.Session.GetString("totalWorkshops")</span></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-assignment zmdi-hc-3x col-blue"></i></p>
                        <span>Cupos disponibles</span>
                        <h3 class="m-b-10"><span>@Context.Session.GetString("cuposDisponibles")</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-shopping-basket zmdi-hc-3x"></i></p>
                        <span>Cupos vendidos</span>
                        <h3 class="m-b-10"><span>@Context.Session.GetString("cuposVendidos")</span></h3>
                    </div>
                </div>
            </div>
        </div>


        <input type="hidden" id="cuposTalleres" data-value="@Context.Session.GetString("cuposVendidos")" />
        <input type="hidden" id="cuposEventos" data-value="@Context.Session.GetString("cuposDisponibles")" />
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Cupos registrados por categoría</h2>
                    </div>
                    <div class="body">
                        <div class="e_chart" id="echart-doughnut" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DataTable Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Listado de Workshops</strong></h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu slideUp">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <br />

                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="editableTableWorkshops">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Fecha</th>
                                        <th>Cupos disponibles</th>
                                        <th>Cupo máximo</th>
                                        <th>Descripción</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr data-id="@item.IdWorkshop">

                                            <td data-field="name">@item.NombreWorkshop</td>
                                            <td data-field="price">@item.Precio</td>
                                            <td data-field="cant">@item.Fecha</td>
                                            <td data-field="desc">@item.MinInventario</td>
                                            <td data-field="desc">@item.MaxInventatio</td>
                                            <td data-field="desc">@item.Descripcion</td>

                                            <td>
                                                <a id="IdProd" value="@item.IdWorkshop" class="button button-small edit" title="Eliminar">
                                                    <span><i class="zmdi zmdi-delete"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# DataTable Examples -->

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/js/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="~/js/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->
<!-- Jquery DataTable Plugin Js -->
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>

<script src="~/js/knob.bundle.js"></script> <!-- Jquery Knob-->
<script src="~/js/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
<script src="~/js/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
<script src="~/js/sparkline.bundle.js"></script> <!-- sparkline Plugin Js -->
<script src="~/js/doughnut.bundle.js"></script>

<script src="~/assets/plugins/echart/echarts.min.js"></script>
<script src="~/js/mainscripts.bundle.js"></script>
<script src="~/assets/js/pages/charts/echart - Copy.js"></script>
<script src="~/js/index.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>