﻿@model FrontEndVakyria.Modelos_BD.Actividade

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BlackFit HTML-5 Template | Shop Single</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

    <div class="page-wrapper">

        <!-- Preloder -->
        <div id="preloder" class="preloader">
            <div class="loader"></div>
        </div>
        <!-- Εnd Preloader -->
        <section class="page-title" style="background-color:black">
            <div class="auto-container">
                <h2>TIENDA</h2>
                <ul class="page-breadcrumb">
                    <li>@Html.ActionLink("Inicio", "Home", "Home")</li>
                    <li>@Html.ActionLink("Tienda", "Shop", "Shop")</li>
                </ul>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Shop Single Section -->
        <section class="shop-single-section">
            <div class="auto-container">

                <!--Shop Single-->
                <div class="shop-page product-details">

                    <!--Basic Details-->
                    <div class="basic-details">
                        <div class="row clearfix">

                            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                <div class="">
                                    <a href="Product/@Html.DisplayFor(Model => Model.IdActividades)" class="lightbox-image" title="Image Caption Here">
                                        <img src="~/images/galleryy/comunidad-02.png" alt="">
                                    </a>
                                </div>
                            </div>


                                <!--Info Column-->
                            <div class="info-column col-lg-6 col-md-12 col-sm-12">
                                <div class="details-header">
                                    <h5>@Html.DisplayFor(Model => Model.NombreActividades)</h5>
                                    <div class="text">@Html.DisplayFor(Model => Model.Descripcion)</div>
                                    <div class="item-price">₡@Html.DisplayFor(Model => Model.Precio)</div>
                                </div>

                                @{ Html.BeginForm("AddCart", "Shop", FormMethod.Post, new { @id = "frmAddCart" }); }

                                <input id="id" type="number" name="id" value="@Html.DisplayFor(Model => Model.IdActividades)" style="display:none;" />
                                <input id="tipo" type="text" name="tipo" value="Actividad" style="display:none;" />
                                <input id="precio" type="text" name="precio" value="@Html.DisplayFor(Model => Model.Precio)" style="display:none;" />

                                <div class="other-options">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="item-quantity">
                                                @Html.DropDownList("cantidad", ViewBag.Cantidad as IEnumerable<SelectListItem>, new { @style = "font-family: 'Poppins', sans-serif;", @class = "form-control select-dropdown" })
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <!--Btns Box-->
                                            <div class="btns-box">
                                                <button style="background-color: #e7e7e7; color: black;" id="btnAddCart" class="theme-btn btn-style-one " name="AddCart" type="submit">AÑADIR AL CARRITO</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{ Html.EndForm(); }

                                <ul class="shop-list">
                                    <li><strong>SKU:</strong>N/A</li>
                                    <li><strong>Categoría:</strong>Workshop</li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- Basic Details -->
            </div>

            <!-- Related Products -->
            <div class="related-products">
                <h5>ACTIVIDADES RELACIONADAS</h5>
                <div id="related-products-list" class="row clearfix">

                    <span id="LoadingImage" style="left: 50%; width: 75px; height: 75px;display: none;">
                        <img src="~/images/galleryy/spinner.gif" />
                    </span>

                </div>
            </div>

    </div>
    </section>
    <!-- End Shop Single Section -->
    <!-- Main Footer -->
    <footer class="main-footer" style="background-color:black">
        <div class="auto-container">
            <!-- Widgets Section -->
            <div class="widgets-section">
                <div class="row clearfix">

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="#"><img src="~/images/galleryy/__logo horizontal_blanco_peq.png" style="width:240px; height:70px" alt="" /></a>
                                    </div>
                                    <!-- Footer Mobile Logo -->
                                    <div class="footer-mobile-logo">
                                        <a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a>
                                    </div>
                                    <ul class="info-list">
                                        <li><span>Direccion:</span>San Jose, Costa Rica</li>
                                        <li>
                                            <span>Telefonos:</span>
                                            <a href="tel:8888-8888">8888-8888</a><br>
                                            <a href="tel:8888-8888">8888-8888</a><br>
                                        </li>
                                        <li><span>Horarios:</span>Lunes-Viernes</li>
                                        <li>7:00 AM - 5:00 PM</li>
                                        <li><span>Correo:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                                        <li class="social-links">
                                            <span>Redes Sociales:</span>
                                            <a href="#" class="fa fa-facebook"></a>
                                            <a href="#" class="fa fa-twitter"></a>
                                            <a href="#" class="fa fa-instagram"></a>
                                            <a href="#" class="fa fa-linkedin"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget news-widget">
                                    <h6>EVENTOS</h6>
                                    <div class="widget-content">

                                        <div class="post">
                                            <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(3).jpg" alt=""></a></div>
                                            <h5><a href="#">Competencia Crossfit</a></h5>
                                            <span class="date">JUNIO 21, 2020</span>
                                        </div>

                                        <div class="post">
                                            <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(4).jpg" alt=""></a></div>
                                            <h5><a href="#">Taller fuerza</a></h5>
                                            <span class="date">JUNIO 21, 2020</span>
                                        </div>

                                        <div class="post">
                                            <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(5).jpg" alt=""></a></div>
                                            <h5><a href="#">Clase de zumba</a></h5>
                                            <span class="date">JUNIO 21, 2020</span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget gallery-widget">
                                    <h6>Instagram</h6>
                                    <div class="widget-content">

                                        <div class="images-outer clearfix">
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                    <h6>Subscribase</h6>
                                    <!-- Newsletter Form -->
                                    <div class="newsletter-form">
                                        <form method="post" action="contact.html">
                                            <div class="form-group">
                                                <input type="email" name="email" value="" placeholder="Email" required="">
                                                <button type="submit" class="theme-btn submit-btn"><span><img src="images/icons/message-icon.png" alt="" /></span></button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="copyright">DESIGN BY KADIROV. 2020</div>
            </div>

        </div>
    </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/FunctionsJS/ShopJS/ActividadScripts.js"></script>

</body>
</html>