﻿@model FrontEndVakyria.Modelos_BD.Factura
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>

</head>

<body>

    <!-- End FullScreen Menu -->
    <!--Page Title-->
    <section class="page-title" style="background-image:@Url.Content("~/wwwroot/images/galleryy/19.jpg")">
        <div class="auto-container">
            <h2>Checkout</h2>
        </div>
    </section>
    <!--End Page Title-->
    <!-- Checkout Page -->
    <div class="checkout-page">
        <div class="auto-container">

            <!--Billing Details-->
            <div class="billing-details">
                <div class="shop-form">
                    @using (Html.BeginForm("RegistrarFactura", "Shop", FormMethod.Post, new { @id = "frmRegistrarFactura" }))
                    {
                        <div class="row clearfix">
                            <div class="col-lg-7 col-md-12 col-sm-12">

                                <div class="sec-title"><h2>Detalles de compra</h2></div>
                                <div class="billing-inner">
                                    <div class="row clearfix">

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">Nombre <sup>*</sup></div>
                                            @Html.TextBoxFor(Model => Model.NombreUsuario, new { @class = "form-control", @required = "required", @id = "name_on_card" })
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">Apellidos <sup>*</sup></div>
                                            @Html.TextBoxFor(Model => Model.ApellidosUsuario, new { @class = "form-control", @required = "required" })
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Provincia <sup>*</sup></div>
                                            @Html.TextBoxFor(Model => Model.Provincia, new { @class = "form-control", @required = "required" })
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Canton <sup>*</sup></div>
                                            @Html.TextBoxFor(Model => Model.Canton, new { @class = "form-control", @required = "required" })
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Distrito <sup>*</sup></div>
                                            @Html.TextBoxFor(Model => Model.Distrito, new { @class = "form-control", @required = "required" })
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Direccion completa <sup>*</sup></div>
                                            @Html.TextBoxFor(Model => Model.Direccion, new { @class = "form-control", @required = "required" })
                                        </div>


                                        <!--Form Group-->
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Codigo Postal <sup>*</sup></div>
                                            @Html.TextBoxFor(Model => Model.CodigoPostal, new { @class = "form-control", @required = "required" })
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Telefono <sup>*</sup></div>
                                            @Html.TextBoxFor(Model => Model.Telefono, new { @class = "form-control", @required = "required" })
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Correo electronico <sup>*</sup></div>
                                            @Html.TextBoxFor(Model => Model.Correo, new { @class = "form-control", @required = "required" })
                                        </div>

                                    </div>

                                    <div class="checkout-order-box">
                                        <div class="sec-title"><h2>Detalles de pago</h2></div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Numero de tarjeta <sup>*</sup></div>
                                            <input id="card_number" type="number" name="field-name" value="" placeholder="" required>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">Fecha de vencimiento<sup>*</sup></div>
                                            <select class="form-control" id="exp_month" required>
                                                <option value="">Mes</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" id="exp_year" required>
                                                <option value="">Año</option>
                                                @{
                                                    int currentYear = DateTime.Now.Year;
                                                    //para que siempre se actualice la lista de años con el año actual
                                                    for (int i = 0; i < 9; i++)
                                                    {
                                                        int years = currentYear + i;
                                                        <option value="@years">@years</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                        <br />
                                        <!--Form Group-->
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">Codigo de seguridad <sup>*</sup></div>
                                            <input id="cvv" type="password" class="" name="field-name" value="" maxlength="4" size="4" placeholder="" required>
                                        </div>

                                    </div>

                                    <!-- Checkout Order Box -->
                                    <div class="checkout-order-box">
                                        <h3>Su Orden</h3>
                                        <div class="upper-box">
                                            <ul id="listaItems">
                                            </ul>
                                        </div>
                                        <div class="lower-box">
                                            <ul id="totales">
                                            </ul>
                                        </div>
                                        <input style="background-color: #e7e7e7; color: black;" type="button" id="btnRealicePago" class="theme-btn btn-style-one" value="Realizar Pago">
                                    </div>
                                    
                                    <div id="error-message"></div>



                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12 col-sm-12">
                                <div class="sec-title"><h2>Informacion adicional</h2></div>

                                <div class="row clearfix">

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <textarea placeholder="Opcional"></textarea>
                                    </div>


                                </div>

                            </div>
                        </div>

                    }

                </div>

            </div><!--End Billing Details-->
        </div>
    </div>

    <div id="myModal" class="modal fade text-white" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="background: lightslategray !important; border: 1.5px solid grey;">
                <br /><br />
                <div class="sec-title w-100 text-center"> <p>Procesando</p></div>
                <br />
                <span class="loader"></span>

            </div>
        </div>
    </div>

    <!-- Main Footer -->
    <footer class="main-footer" style="background-color:black">
        <div class="auto-container">
            <!-- Widgets Section -->
            <div class="widgets-section">
                <div class="row clearfix">

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="#"><img src="~/images/galleryy/__logo horizontal_blanco_peq.png" style="width:240px; height:70px" alt="" /></a>
                                    </div>
                                    <!-- Footer Mobile Logo -->
                                    <div class="footer-mobile-logo">
                                        <a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a>
                                    </div>
                                    <ul class="info-list">
                                        <li><span>Direccion:</span>San Jose, Costa Rica</li>
                                        <li>
                                            <span>Telefonos:</span>
                                            <a href="tel:8888-8888">8888-8888</a><br>
                                            <a href="tel:8888-8888">8888-8888</a><br>
                                        </li>
                                        <li><span>Horarios:</span>Lunes-Viernes</li>
                                        <li>7:00 AM - 5:00 PM</li>
                                        <li><span>Correo:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                                        <li class="social-links">
                                            <span>Redes Sociales:</span>
                                            <a href="#" class="fa fa-facebook"></a>
                                            <a href="#" class="fa fa-twitter"></a>
                                            <a href="#" class="fa fa-instagram"></a>
                                            <a href="#" class="fa fa-linkedin"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget news-widget">
                                    <h6>EVENTOS</h6>
                                    <div class="widget-content">

                                        <div class="post">
                                            <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(3).jpg" alt=""></a></div>
                                            <h5><a href="#">Competencia Crossfit</a></h5>
                                            <span class="date">JUNIO 21, 2020</span>
                                        </div>

                                        <div class="post">
                                            <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(4).jpg" alt=""></a></div>
                                            <h5><a href="#">Taller fuerza</a></h5>
                                            <span class="date">JUNIO 21, 2020</span>
                                        </div>

                                        <div class="post">
                                            <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(5).jpg" alt=""></a></div>
                                            <h5><a href="#">Clase de zumba</a></h5>
                                            <span class="date">JUNIO 21, 2020</span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget gallery-widget">
                                    <h6>Instagram</h6>
                                    <div class="widget-content">

                                        <div class="images-outer clearfix">
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                    <h6>Subscribase</h6>
                                    <!-- Newsletter Form -->
                                    <div class="newsletter-form">
                                        <form method="post" action="contact.html">
                                            <div class="form-group">
                                                <input type="email" name="email" value="" placeholder="Email" required="">
                                                <button type="submit" class="theme-btn submit-btn"><span><img src="images/icons/message-icon.png" alt="" /></span></button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="copyright">DESIGN BY KADIROV. 2020</div>
            </div>

        </div>
    </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/FunctionsJS/ShopJS/jquery.creditCardValidator.js"></script>
    <script src="~/FunctionsJS/ShopJS/CheckoutJS.js"></script>

</body>
</html>