﻿@model IEnumerable<FrontEndVakyria.Entities.ProductoImagen>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BlackFit HTML-5 Template | Shop Left</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloder -->
        <div id="preloder" class="preloader">
            <div class="loader"></div>
        </div>

        <!--Page Title-->
        <section class="page-title" style="background-color:black ">
            <div class="auto-container">
                <h2>TIENDA</h2>
                <ul class="page-breadcrumb">
                    <li>@Html.ActionLink("Inicio", "Home", "Home")</li>
                    <li>@Html.ActionLink("Tienda", "Shop", "Shop")</li>
                </ul>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Sidebar Page Container -->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Sidebar Side -->
                    <div class="sidebar-side shop-sidebar col-lg-4 col-md-12 col-sm-12">
                        <aside class="sidebar sticky-top">
                            <div class="sidebar-inner padding-right">

                                <div class="row clearfix">

                                    <!-- Category Widget -->
                                    <div class="sidebar-widget category-widget col-lg-12 col-md-6 col-sm-12">
                                        <!-- Sidebar Title -->
                                        <div class="sidebar-title">
                                            <h5>CATEGORIAS</h5>
                                        </div>

                                        <div class="widget-content">
                                            <ul class="shop-cat">
                                                <li><a href="Shop"><strong>Productos</strong></a></li>
                                                <li><a href="Workshops">Workshops </a></li>
                                                <li><a href="Actividades">Actividades </a></li>
                                                <li><a href="Programas">Programas </a></li>
                                            </ul>
                                        </div>

                                    </div>


                                    <div class="sidebar-widget related-posts col-lg-12 col-md-12 col-sm-12">
                                        <!-- Sidebar Title -->
                                        <div class="sidebar-title">
                                            <h5>Productos Nuevos</h5>
                                        </div>
                                        <div class="widget-content">
                                            @foreach (var item in Model.Reverse().Take(3))
                                            {
                                                <div class="post">
                                                    <figure class="post-thumb"><a id="@item.IdProducto" href="Product/@item.IdProducto"><img id="@item.IdImagen" src="@item.imgDataURL" alt=""></a></figure>
                                                    <h4><a id="@item.IdProducto" href="Product/@item.IdProducto">@item.NombreProducto</a></h4>
                                                    <div class="price">₡@item.Precio</div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </aside>
                    </div>

                    <!-- Content Side -->
                    <div class="content-side shop-products col-lg-8 col-md-12 col-sm-12">

                        <div class="search" style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"'>
                            <input class="form-control search_bar"  type="search" id="filter" placeholder="Buscar...">
                            <br /><br />
                        </div>
                       

                        <!-- Shop Single -->
                        <div class="shop-section">

                            <!-- Sort By -->
                            <div class="items-sorting">
                                <div class="total-items">Mostrando <span id="filteredCount">@Model.Count()</span></div>
                            </div>



                            <div class="row clearfix">

                                    @foreach (var item in Model)
                                    {
                                        <!-- Shop Item -->
                                        <div id="results" class="shop-item col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image">
                                                    <a id="@item.IdProducto" class="overlay-link" href="Product/@item.IdProducto"></a>
                                                    <img id="@item.IdImagen" src="@item.imgDataURL" style="width:370px; height:400px" alt="" />
                                                    <div class="overlay-box">
                                                        <ul class="cart-option">
                                                            <li><a href="shop-single.html"><span><img src="images/icons/right-arrow.svg" alt="" /></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="lower-content">
                                                    <h3><a id="@item.IdProducto" href="Product/@item.IdProducto">@item.NombreProducto</a></h3>
                                                    <div class="clearfix">
                                                        <div class="pull-left">
                                                            <div class="price">₡@item.Precio</div>
                                                        </div>
                                                        <div class="pull-right">
                                                            <!-- Rating -->
                                                            <a id="@item.IdProducto" href="product" class="cart"><span class="icon flaticon-shopping-cart-3"></span></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    }
                            </div>

                            <!-- Lower Text -->
                            @*<div class="lower-text text-center">
                <a href="#" class="products">VER MAS PRODUCTOS</a>
            </div>*@

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Main Footer -->
        <footer class="main-footer" style="background-color:black">
            <div class="auto-container">
                <!-- Widgets Section -->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget logo-widget">
                                        <div class="logo">
                                            <a href="#"><img src="~/images/galleryy/__logo horizontal_blanco_peq.png" style="width:240px; height:70px" alt="" /></a>
                                        </div>
                                        <!-- Footer Mobile Logo -->
                                        <div class="footer-mobile-logo">
                                            <a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a>
                                        </div>
                                        <ul class="info-list">
                                            <li><span>Direccion:</span>San Jose, Costa Rica</li>
                                            <li>
                                                <span>Telefonos:</span>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                                <a href="tel:8888-8888">8888-8888</a><br>
                                            </li>
                                            <li><span>Horarios:</span>Lunes-Viernes</li>
                                            <li>7:00 AM - 5:00 PM</li>
                                            <li><span>Correo:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
                                            <li class="social-links">
                                                <span>Redes Sociales:</span>
                                                <a href="#" class="fa fa-facebook"></a>
                                                <a href="#" class="fa fa-twitter"></a>
                                                <a href="#" class="fa fa-instagram"></a>
                                                <a href="#" class="fa fa-linkedin"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget news-widget">
                                        <h6>EVENTOS</h6>
                                        <div class="widget-content">

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(3).jpg" alt=""></a></div>
                                                <h5><a href="#">Competencia Crossfit</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(4).jpg" alt=""></a></div>
                                                <h5><a href="#">Taller fuerza</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img src="~/images/galleryy/wallpaperflare.com_wallpaper(5).jpg" alt=""></a></div>
                                                <h5><a href="#">Clase de zumba</a></h5>
                                                <span class="date">JUNIO 21, 2020</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Big Column -->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!-- Footer Column -->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget gallery-widget">
                                        <h6>Instagram</h6>
                                        <div class="widget-content">

                                            <div class="images-outer clearfix">
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                                <!--Image Box-->
                                                <figure class="image-box"><a href="~/images/galleryy/__texto circular_amarillo.png" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/galleryy/__texto circular_amarillo.png" alt=""></a></figure>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget newsletter-widget">
                                        <h6>Subscribase</h6>
                                        <!-- Newsletter Form -->
                                        <div class="newsletter-form">
                                            <form method="post" action="contact.html">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Email" required="">
                                                    <button type="submit" class="theme-btn submit-btn"><span><img src="images/icons/message-icon.png" alt="" /></span></button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="copyright">DESIGN BY KADIROV. 2020</div>
                </div>

            </div>
        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/FunctionsJS/ShopJS/Search.js"></script>


</body>
</html>