﻿@model IEnumerable<FrontEndVakyria.Entities.Orden>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<link href="~/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="../Admin/AdminInicio"<i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">

                    </div>
                </div>
            </div>
        </div>

        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="card">

                    <div class="header">
                        <h2><strong>Consultar</strong> Órdenes</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                    <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="body">

                        @using (Html.BeginForm("CargarOrdenes", "Admin", FormMethod.Post, new { @id = "frmCargarOrdenes" }))
                        {
                            <div class="demo-masked-input">
                                <p>Busque por fechas y estados ó busque por el número de orden</p>
                                <div class="row clearfix">

                                    <div class="col-lg-3 col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-calendar"></i>
                                            </span>
                                            <input type="text" id="fInicio" name="fechaInicio" class="form-control" placeholder="Fecha y hora inicial" required>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-calendar"></i>
                                            </span>
                                            <input type="text" id="fFinal" name="fechaFinal" class="form-control" placeholder="Fecha y hora final" required>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-smartphone"></i></span>
                                            <input type="text" name="numeroOrden" class="form-control mobile-phone-number" placeholder="Número de la orden...">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="checkbox">
                                            <input name="abierta" id="cbAbierta" type="checkbox">
                                            <label for="cbAbierta">
                                                Abierta
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <input name="cerrada" id="cbCerrada" type="checkbox">
                                            <label for="cbCerrada">
                                                Cerrada
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-6">
                                        <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect">Buscar</button>
                                    </div>
                                </div>

                            </div>
                        }




                    </div>
                </div>
                <!-- #END# Basic Validation -->

                @if (Model != null)
            {
                <div class="card">
                    <div class="body">
                        <h3><strong>Listado</strong> de Órdenes</h3>

                        <div class="table-responsive">
                            <br />


                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="editableTableOrdenes">
                                <thead>
                                    <tr>
                                        <th>IdOrden</th>
                                        <th>Fecha</th>
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th>Estado</th>
                                        <th>Items</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>IdOrden</th>
                                        <th>Fecha</th>
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th>Estado</th>
                                        <th>Items</th>
                                    </tr>
                                </tfoot>
                                <tbody id="fbody">
                                    @foreach (var item in Model)
                                    {
                                        <tr data-id="@item.IdOrden">
                                            <td data-field="idOrden">@item.IdOrden</td>
                                            <td data-field="fecha">@item.fechaOrden</td>
                                            <td data-field="correo">@item.correoElectronico</td>
                                            <td data-field="telefono">@item.telefono</td>
                                            <td data-field="direccion">@item.direccionCompleta</td>
                                            <td data-field="cant">@item.cantidad</td>
                                            <td data-field="cant">@item.total</td>
                                            <td data-field="estado">
                                                @if (item.estado == 1)
                                                {
                                                    <span>Cerrado</span>
                                                }
                                                else
                                                {
                                                    <span>Abierto</span>
                                                }

                                            </td>
                                            <td data-field="VerItems">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_@item.IdOrden">
                                                    Detalles
                                                </button>
                                            </td>
                                        </tr>




                                    }

                                </tbody>
                            </table>
                        </div>

                        @foreach (var item in Model)
                        {
                            <!-- Modal -->
                            <div class="modal fade" data-backdrop="" id="modal_@item.IdOrden" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Detalles</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h4>Lista de items</h4>
                                            <table class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>IdItem</th>
                                                        <th>Nombre</th>
                                                        <th>Tipo</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var prod in item.listaItems)
                                                    {
                                                        <tr>
                                                            <td>@prod.IdItem</td>
                                                            <td>@prod.Nombre</td>
                                                            <td>@prod.TipoItem</td>
                                                            <td>@prod.Cantidad</td>
                                                            <td>@prod.Precio</td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>

                                            <p>Actualice el estado de la orden al seleccionar la opción correspondiente</p>

                                        </div>
                                      
                                           
                                           
                                            <div class="modal-footer">
                                                @using (Html.BeginForm("AbrirEstadoOrden", "Admin", FormMethod.Post, new { @id = "frmAbrirorden" }))
                                                {
                                                    <input style="display:none;" type="text" name="idOrden" value="@item.IdOrden" />
                                                    <input type="submit" name="abrirEstado" class="btn btn-success" value="Abrir Orden">
                                                }
                                                @using (Html.BeginForm("CerrarEstadoOrden", "Admin", FormMethod.Post, new { @id = "fromCerrarOrden" }))
                                                {
                                                    <input style="display:none;" type="text" name="idOrden" value="@item.IdOrden" />
                                                    <input type="submit" name="cerrarEstado" class="btn btn-danger" value="Cerrar Orden">
                                                }
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            </div>
                                     

                                    </div>
                                </div>
                            </div>
                        }

                        </div>
                </div>
                }

            </div>
</section>
<!-- Jquery Core Js -->
<script src="~/js/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="~/js/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

<script src="~/js/knob.bundle.js"></script> <!-- Jquery Knob-->

<script src="~/js/index.js"></script>

<script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->


<script src="~/assets/plugins/dropzone/dropzone.js"></script> <!-- Dropzone Plugin Js -->

<script src="~/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
<script src="~/assets/plugins/momentjs/es.js"></script> <!-- Moment Spanish Locale Js -->
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

<script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
<script src="~/assets/js/pages/forms/basic-form-elements.js"></script>
<script src="~/FunctionsJS/FechaAdmin.js"></script>
