﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">

            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Programas</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="../Admin/AdminInicio"<i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Programas</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        @*<input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            @*<div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-money zmdi-hc-3x col-blush" style="color:cornflowerblue;"></i></p>
                        <span>Ventas Eventos</span>
                        <h3 class="m-b-10">₡<span class="number count-to" data-from="0" data-to="20000" data-speed="2000" data-fresh-interval="700">2500000</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-money zmdi-hc-3x col-amber"></i></p>
                        <span>Ventas Talleres</span>
                        <h3 class="m-b-10">₡<span class="number count-to" data-from="0" data-to="160000" data-speed="2000" data-fresh-interval="700">2500000</span></h3>
                    </div>
                </div>
            </div>*@
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-balance zmdi-hc-3x col-green"></i></p>
                        <span>Ventas totales</span>
                        <h3 class="m-b-10">₡<span class="number count-to" data-from="0" data-to="740000" data-speed="2000" data-fresh-interval="700">2500000</span></h3>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-assignment zmdi-hc-3x col-blue"></i></p>
                        <span>Cupos disponibles</span>
                        <h3 class="m-b-10 number count-to" data-from="0" data-to="85" data-speed="2000" data-fresh-interval="700">900</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="body">
                        <p class="m-b-20"><i class="zmdi zmdi-shopping-basket zmdi-hc-3x"></i></p>
                        <span>Cupos vendidos</span>
                        <h3 class="m-b-10 number count-to" data-from="0" data-to="45" data-speed="2000" data-fresh-interval="700">1500</h3>
                    </div>
                </div>
            </div>
        </div>*@

        @*<div class="row clearfix">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Ventas por programas</h2>
                    </div>
                    <div class="body">
                        <div class="e_chart" id="echart-doughnut" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>*@

        <!-- DataTable Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Listado</strong> de Programas</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu slideUp">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Categoría</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total Ventas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-id="1">
                                        <td data-field="name">Programa Valkyria</td>
                                        <td data-field="desc">Programa hecho para hipertrofia</td>
                                        <td data-field="price">CRC 20,500</td>
                                        <td data-field="cant">10</td>
                                        <td data-field="price">CRC 205,000</td>

                                    </tr>
                                    <tr data-id="2">
                                        <td data-field="name">Programa Hela</td>
                                        <td data-field="desc">Programa para desarrollar fuerza en el tren superior</td>
                                        <td data-field="price">CRC 22,000</td>
                                        <td data-field="cant">5</td>
                                        <td data-field="price">CRC 110,000</td>

                                    </tr>
                                    <tr data-id="3">
                                        <td data-field="name">Programa Freyja</td>
                                        <td data-field="desc">Programa para fortalecer las piernas</td>
                                        <td data-field="price">CRC 15,000</td>
                                        <td data-field="cant">15</td>
                                        <td data-field="price">CRC 225,000</td>

                                    </tr>
                                    <tr data-id="4">
                                        <td data-field="name">Programa Skade</td>
                                        <td data-field="desc">Programa para Squats con mucho peso</td>
                                        <td data-field="price">CRC 10,000</td>
                                        <td data-field="cant">20</td>
                                        <td data-field="price">CRC 200,000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# DataTable Examples -->

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/js/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="~/js/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->
<!-- Jquery DataTable Plugin Js -->
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>

<script src="~/js/knob.bundle.js"></script> <!-- Jquery Knob-->
<script src="~/js/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
<script src="~/js/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
<script src="~/js/sparkline.bundle.js"></script> <!-- sparkline Plugin Js -->
<script src="~/js/doughnut.bundle.js"></script>

<script src="~/assets/plugins/echart/echarts.min.js"></script>
<script src="~/js/mainscripts.bundle.js"></script>
<script src="~/assets/js/pages/charts/echart.js"></script>
<script src="~/js/index.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>